section.section
  .container
    article.article
      h1.page-title
        | Atom Framework
      ul.list
        li
          |Atoms
        li
          |Molecules
        li
          |Organims
        li
          |Templates
        li
          |Pages
      p
        | A pattern is a recurring, reusable solution that can be applied to solve a design problem
      hr
      .row
        .col-12
          blockquote.destacado
            p “Each problem describes a problem that occurs over and over again in our environment, and then descrives the core of the solution to that problem.”
            br
            span.firma
              | Christopher Alexander (1978), A Pattern Lenguage
