- var headTitle = 'Patrones'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include patrones-header.jade
				include patrones-content-A.jade
				footer.page-footer
					include patrones-footer.jade
