- var headTitle = 'Modulacion'
- var headDescription = 'Como afecta la codificación'
include ../../head.jade
	body.page.apertura-seccion
		.container-fluid
			include ../../menu.jade
			main#main
				include diseno-grafico-header.jade
				include diseno-grafico-content-A.jade
				include diseno-grafico-footer.jade
