section.section
  .container
    article.article 
      .row
        .col-12
          blockquote.destacado
            p.king-size
              | "Web design is 95% typography"
            br
            span.firma
              | Oliver Reichenstein (2006), iA website.
        .col-12.col-sm-1
        .col-12.col-sm-10
          img.img-responsive.no-border(src='public/images/webdesign.png')
          
