- var headTitle = 'Layout'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include layout-header.jade
				include layout-content-A.jade
				include layout-footer.jade
