doctype html
html(lang='en')
  head
    title Diseño de sistemas
    meta(charset='UTF-8')
    meta(name='author', content='Paladini Digital Projects')
      
    link(rel="stylesheet" href="site/assets/css/bootstrap.css")
    link(rel="stylesheet" href="site/assets/css/style.css")
    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono', rel='stylesheet')

      
    script(src='site/assets/js/jquery-1.12.4.min.js')
          
  body.pushmenu-push
    nav.pushmenu.pushmenu-left
      include layouts/menu
    #nav_list
      include layouts/main
      hr
      footer.container-fluid
        ul.footer-menu
          li
            a(href="#") Feedback
          li
            a(href='#') Privacidad
          li
            a(href='#') Diccionario de términos
          li
            a(href='#') Referencias          
    include layouts/footer
