- var headTitle = 'Modulación'
- var headDescription = 'Como se moduan los sistema responsive'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include modulacion-header.jade
				include modulacion-content-A.jade
				include modulacion-content-B.jade
				include modulacion-content-C.jade
				footer.page-footer
					include modulacion-footer.jade
