section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          h1.article-title 
            | Para poder afrontar la codificación de un sistema complejo 
            strong
              | es imprescindible dividir la tarea en módulos más pequeños y manejables.
            
        .col-12.col-sm-4
          h1.article-title 
            | Para poder afrontar la codificación de un sistema.

        .col-12.col-sm-4
          h1.article-title 
            | Para poder afrontar la codificación de un sistema.
