section.section
  .container
    article.article 
      .row
        .col-12.col-sm-5
          h1.article-title 
            | Para poder afrontar la codificación de un sistema complejo 
            strong
              | es imprescindible dividir la tarea en módulos más pequeños y manejables.
            br
            br
            | La modularización permite:
                
          ul.list.list-xl.dot-list
            li 
              | Trabajar con partes más manejables.
            li 
              | Dividir las tareas y poder trabajar en equipo.
            li 
              | El escalado y evolución del sistema.
            li 
              | Reutilizar módulos para otros sitemas.
            li 
              | Mantener el sistema sin necesidad de rehacerlo.
            
        .col-12.col-sm-7
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/cocina-modulos-5.jpg')
                  figcaption
                    | KNOXHULT - Modulos de cocina / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/cocina-modulos-4.jpg')
                  figcaption
                    | KNOXHULT - Modulos de cocina / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/cocina-modulos-3.jpg')
                  figcaption
                    | KNOXHULT - Modulos de cocina / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/cocina-modulos-2.jpg')
                  figcaption
                    | KNOXHULT - Modulos de cocinas / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/cocina-modulos-1.jpg')
                  figcaption
                    | KNOXHULT - Modulos de cocina / Fuente: IKEA
