- var headTitle = 'Header'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include modulacion-header.jade
				include modulacion-content-A.jade
				footer.page-footer
					include modulacion-footer.jade
