section.section
  .container
    hr.dotted
    br
    article.article 
      .row
        .col-12.col-sm-8
          h2.subtitle
            | Módulo básico
          br
          p
            | Para una correcta modulación es fundamental detectar cual es el contenido básico (el que se repite en todos las casos). De este modo se reduce la cantidad de código y simplifica la evolución de las variaciones.
          br
          br  
      .row
        .col-6.col-sm-3
          .card
            h2.card-title
              | Módulo básico
            figure
              img.img-responsive(src='public/images/elpe-entretodos-01.jpg')
              figcaption.text-left
                | Modulo de opinión portada de El Periódico de Catalunya  
        .col-6.col-sm-3
          .card
            h2.card-title
              | Módulo básico - caso 1
            figure
              img.img-responsive(src='public/images/elpe-entretodos-02.jpg')
              figcaption.text-left
                | Modulo de opinión portada de El Periódico de Catalunya    
        .col-6.col-sm-3
          .card
            h2.card-title
              | Módulo básico - caso 2
            figure
              img.img-responsive(src='public/images/elpe-entretodos-04.jpg')
              figcaption.text-left
                  | Modulo de opinión portada de El Periódico de Catalunya
            
        .col-6.col-sm-3
          .card
            h2.card-title
              | Módulo básico - caso 3 
            figure
              img.img-responsive(src='public/images/elpe-entretodos-03.jpg')
              figcaption.text-left
                | Modulo de opinión portada de El Periódico de Catalunya
        
    article.article
      hr.dotted
      br
      .row
        .col-12.col-sm-3
          br
          h2.subtitle
            | Casos de uso
          br
          p
            | La modulación también es importante para trabajar los diferentes casos de uso de un mismo módulo.
        .col-12.col-sm-9
          figure
            img.img-responsive.no-border(src='public/images/encuesta.png')
            figcaption.text-left
              | Módulo de encuesta de El Periódico de Catalunya
        
            
