section.section
  .container
    hr.dotted
    br
    article.article 
      .row  
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/boston-globe.png')
            figcaption.text-left
              | Website responsive del periódico Boston Globe --> www.bostonglobe.com
        .col-12.col-sm-4
          br
          h1.article-title 
            strong
              | Modulación responsive
            br
            br    
      
    hr.dotted
    br
    br
    article.article
      .row
        .col-12
          figure
            img.img-svg.img-border(src='public/images/mobiler-first.svg')
            figcaption.text-left
              "Graceful degradation vs. progressive enhancement" 
        .col-12
          blockquotes
