section.section
  .container
    article.article 
      .row
        .col-6.col-sm-4
          .card
            .card-title
              | Unidad mínima geométrica
            figure
              img.img-responsive(src='public/images/unidad-geometrica-1.jpg')
              figcaption
                a(href="http://www.paseodegracia.com/", target="_blank")
                  | www.paseodegracia.com
            p
              | Unidad mínima geométrica basada en el exágono.
        .col-6.col-sm-4
          .card
            .card-title
              | Uninad mínima numérica
            figure
              img.img-responsive(src='public/images/regla-12.jpg')
              figcaption
                a(href="https://feverup.com", target="_blank")
                  | www.feverup.com
            p
              | Uninad mínima numérica basada en el número 12. Todos los valores numéricos de la interfaz deben ser de 12 o múltiplos de esta cantidad: 24, 36, 48 ...

        .col-6.col-sm-4
          .card
            .card-title
              | Unidad mínima de relación
            figure
              img.img-responsive(src='public/images/unidad-relaciones.jpg')
              figcaption
                a(href="https://fonts.google.com/specimen/Roboto+Slab", target="_blank")
                  | fonts.google.com
            p
              | La seleccion tipográfica implica establecer relaciones básicas entre: tipo de fuente, tamaño de letra y interlínea.
