section.section.section-caso_exito
  .container
    hr
    article.article 
      .row
        .col-12.col-sm-4
            h1.title
              |Contenedor marítimo TIBA:
              br
              |un sistema que revolucionó el comerció mundial.
            p En 1926, Malcom McLean, un joven camionero de New Jersey (EEUU), planteó un sistema en el cual la carga fuera apilada solo una vez dentro de un contendor y que pudiera ser trasportado igual en barcos, camiones y trenes.
              br
              br
              | En 1965 se creo una norma ISO (International Standar Organization) para estandarizar las medidas de los contenedores a nivel ionternacional.
              br
              br
              | La definición y estandarización de la unidad mínima, dió un gran impulso a la implemntación del sistema.
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/detalle.jpg')
                  figcaption
                    | Container de transporte: pieza mínima del sistema de comercio internacional.
              .item
                figure
                  img.img-responsive(src='public/images/container.jpg')
                  figcaption
                    | Pieza mínima de Lego en patente - 1979 Estados Unidos.
              .item
                figure
                  img.img-responsive(src='public/images/sea-land.jpg')
                  figcaption
                    | “Es una verdadera pérdida de tiempo y dinero. ¿Y si mi camión pudiera subirse con todo su volumen a bordo del buque de una sola vez?”.
              .item
                figure
                  img.img-responsive(src='public/images/camion.jpg')
                  figcaption
                    | “Es una verdadera pérdida de tiempo y dinero. ¿Y si mi camión pudiera subirse con todo su volumen a bordo del buque de una sola vez?”.
              .item
                figure
                  img.img-responsive(src='public/images/tren.jpg')
                  figcaption
                    | “Es una verdadera pérdida de tiempo y dinero. ¿Y si mi camión pudiera subirse con todo su volumen a bordo del buque de una sola vez?”.
              .item
                figure
                  img.img-responsive(src='public/images/maersk.jpg')
                  figcaption
                    | “Es una verdadera pérdida de tiempo y dinero. ¿Y si mi camión pudiera subirse con todo su volumen a bordo del buque de una sola vez?”.
