section.section
  .container
    hr.dotted
    article.article
      .row
        .col-12.col-sm-3
          h1.article-title
            | La unidad mínima ha de cumplir tres condiones:
          dl.list
            dt
              strong
                | 1 - Valor
            dd
              | Ha de ser cuantificable / mesurable.
            dt
              strong
                | 2 - Coportamiento
            dd
              | ¿Cómo se relaciona con el resto de elemtos?
            dt
              strong
                | 3 - Atriburos
            dd
              | Material, color, peso... 
            
        .col-12.col-sm-6
          figure
            img.img-responsive.no-border(src='public/images/lego-block.jpg')
            
        .col-12.col-sm-3
          br
          br
          br
          br
          br    
          dl.list
            dt
              strong
                | 1 - Valor
            dd
              | Pieza básica de 4x2
            dt
              strong
                | 2 - Comportamiento
            dd
              | Se encaja con el resto de piezas.
            dt
              strong
                | 3 - Atributos
            dd
              | Plástico
              br
              | Roja
              br
              | Resistente 
          
            
    hr
