section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          dl.definition-list.definition
            dt
              h2.subtitle
                | Definición
            dd
              p 
                | Todo sistema de diseño ha de tener una 
                strong
                  | unidad mínima básica donde apoyar todo el desarrollo y escalado del sistema.
                br
                br
                | La unidad mínima definida, 
                strong
                  | ha de reflejar y explicar los valores del sistema.
            
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/patente-lego-usa.jpg')
                  figcaption
                    | Pieza mínima de Lego en patente - 1979 Estados Unidos.
              .item
                figure
                  img.img-responsive(src='public/images/patente-lego.jpg')
                  figcaption
                    | Patente original de Lego - 1959 Dinamarca.
              
