section.section
  .container
    article.article 
      .row
        .col-12.col-sm-6
          strong
            | teoria general de distemas
          p Un sistema se define como una entidad con límites y con partes interrelacionadas e interdependientes cuya suma es mayor a la suma de sus partes.
          
        .col-12.col-sm-6
          img.img-responsive(src='public/images/unidad-minima.jpg')
