section.section
  article.article
    .container
      .row
        .col-12.col-sm-4
          p
            |Esta guía nace con la voluntad de ser un repositorio abierto donde unificar ideas, definiciones y buenas prácticas para la creación de sistemas editoriales para web. Esta espacio se plantea como una primera versión y existe la voluntat de poder ser ampliada con más secciones.
          p
            |Para cualquier errata, sugerencia o mejora me pueden contactar en 
            a.active(href="mailto://daniel@paladini.cat", title="Email de contacto")
              |daniel@paladini.cat
        
      .row
        .col-12.col-sm-4
          p
            |Este proyecto se enmarca dentro de un proceso de investigación académica a través del diseño, dentro del 
            a.active(href="http://elisava.net/es/estudios/master-universitario-diseno-y-comunicacion", title="MUDiC ELISAVA", target="_blank")
              | Máster de Diseño y Comunicación (MUDiC) 
            | de la escuela universitaria
        .col-12.col-sm-3
            a(href="http://elisava.net/es/", title="ELISAVA", target="_blank")
              img.img-svg.no-border(data-src='public/images/elisava.svg', alt='Escuela Universitaria ELISAVA Diseño e Ingeniería')
            a(href="https://www.upf.edu/es/inicio", title="ELISAVA", target="_blank")
              img.img-svg.no-border(data-src='public/images/upf.svg', alt='Universidad Pompeu Fabra')
