- var headTitle = 'Definicion'
- var headDescription = 'Definición de Sistema de diseño'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include proyecto-header.jade
				include proyecto-content-A.jade
				//- footer.page-footer
				//- 	include proyecto-footer.jade
