section.section
  .container
    article.article
      br
      hr.dotted
      br
      br
      .row
        .col-12.col-sm-4
          h1.article-title
            strong
              | Frontend developer
            br
            br
            | Término que aparece en contraposición al 
            strong
              |backend developer
            |, perfil encargado de la indexación del contenido en la base de datos mediante un gestor de contenidos (CMS).
            br
            br
            | El 
            strong
              |frontend developer 
            |se encarga de la codificación de la parte 
            em
              | frontal  
            | en la que interactúan los 
            strong
              | usuarios
            |, mediante la interficie gráfica.
            br
            br  
            
        .col-12.col-sm-8
          figure
            img.img-svg(src='public/images/Frontend.svg')
            figcaption
              | Ubicación del perfil del 
              strong
                |frontend developer 
              | dentro de un entorno web estándard con gestor de contenidos (CMS).
          
