section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          h1.article-title 
            | Dentro del entorno web, la codificación se entiende como 
            strong
              | el proceso de convertir una interficie visual en código fuente 
            | para poder integrarla dentro de un sistema informático.
            br
            br
            | Actualmente, una web se codifica mediate los lenguages de etiquetado 
            strong
              | HTML, CSS 
            |y el lenguaje orientado a objetos 
            strong
              |Javascript.
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/elpais-visual.jpg')
                  figcaption
                    | Web diario El País - www.elpais.com
              .item
                figure
                  img.img-responsive(src='public/images/elpais-codigo.jpg')
                  figcaption
                    | Código fuente web El País - www.elpais.com
