section.section
  .container
    hr.dotted
    article.article 
      .row
        .col-12.col-sm-2
          br
          h1.page-title
            strong
              | HTML
        
        .col-12.col-sm-4
          br
          br
          p
            strong
              | Hypertext Markup Language
            br
            br
            | Lenguaje basado en etiquetas que se abren y cierran. La etiqueta contiene información y al mismo tiempo asigna valor al contenido.
            
        .col-12.col-sm-6
          br
          iframe.iframe(width='100%', height='330', src='http://jsfiddle.net/PaladiniDigitalProjects/d2yo79ag/3/embedded/html/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')
      .row
        .col-12.col-sm-2
          br
          h1.page-title
            strong
              | CSS
        .col-12.col-sm-4
          br
          br
          p 
            strong
              | Cascading Style Sheet
            br
            br
            | Lenguaje basado atributos que se asocian a una etiqueta HTML mediante una clase o identificador.
            br
            br
            | La posición de la clase en la hoja de estilos delimita su giraría en base al resto de definiciones.
        
        .col-12.col-sm-6
          br
          iframe.iframe(width='100%', height='230', src='https://jsfiddle.net/PaladiniDigitalProjects/kmq61od8/1/embedded/css/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')
