section.section
  .container
    hr.dotted
    article.article
      .row
        .col-12.col-sm-9
          iframe.iframe(width='100%', height='300', src='http:////jsfiddle.net/PaladiniDigitalProjects/19cyv0a4/1/embedded/html,css,result/', allowpaymentrequest='', allowfullscreen='allowfullscreen', frameborder='0')
        .col-12.col-sm-3
          p.iframe-caption.text-left Servicios online como 
            strong
              | JSFidle o Codepen
            |, nos ofrecen herramientas para poder trabajar en pequeñas piezas de código, permitiendo compartirlas con la comunidad online.
