- var headTitle = 'Que es codificar'
- var headDescription = 'Que es codificar'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include codigo-header.jade
				include codigo-content-A.jade
				include codigo-content-B.jade
				include codigo-content-C.jade
				include codigo-content-D.jade
				include codigo-content-E.jade
				include codigo-footer.jade
