section.section
  .container
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | La figura del 
            strong
              | frontend developer 
            | ha de tener un perfil mixto.
            br
            br
            | Ha de comprender la 
            strong
              | lógica de la programación 
            |, y tener una 
            strong
              | sensibilidad estética 
            | adecuada para modular, sistematizar, y codificar correctamente la interficie gráfica.
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/frontend-pdp.jpg')
            figcaption
              | Momento de testeo de la codificación en RBA.
          
