- var headTitle = 'Modulacion'
- var headDescription = 'Como afecta la codificación'
include ../../head.jade
	body.page.apertura-seccion
		.container-fluid
			include ../../menu.jade
			main#main
				include codificacion-header.jade
				include codificacion-content-A.jade
				include codificacion-footer.jade
