section.section
  .container
    article.article 
      .row
        .col-12
          blockquote.destacado
            p “Here’s the simple truth: you can’t innovate on products without first innovating the way you build them.”
            br
            span.firma
              | Alex Schleifer 
        .col-12.col-sm-1
        .col-12.col-sm-10
          br
          br
          br
          br
          img.img-svg(src='public/images/modulacion.svg')
          
