- var headTitle = 'Codificación'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include codificacion-header.jade
				include codificacion-content-A.jade
				footer.page-footer
					include codificacion-footer.jade
