section.section
  .container
    article.article
      br
      hr
      br
      .row
        .col-12.col-sm-9
          h1.page-title
            | Libreias de jquery
            
            
            El termino nace en conbtarposicion al backend developer dentro de un aistema informatico
        .col-12.col-sm-3
          
