section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          br
          h2.subtitle
            strong
              | A favor
          ul.list.dot-list
            li Delimita el marco de juego y ayuda a concretar.
            li Acelera el desarrollo y prototipado de prodcutos.
            li Lenguaje común unificado y reutilizable.
            li Modulación filosofía DRY (Don't Repeat Yourself).
            li Fácil de mantener y escalar.
        
        .col-12.col-sm-4
          br
          h2.subtitle
            strong
              | En contra
          ul.list.dot-list
            li Es limitante.
            li Iguala funcionalmente los productos digitales.
            li Todos los diseños se parecen.
            li El mal hábito del template y el theme predefinido apartan al diseñador del proceso.
            li Genera productos con más peso en kb.
        
        .col-12.col-sm-4
          figure
            img.img-responsive(src='public/images/bulma.png')
            figcaption
              | Bulma CSS framework
            


              
