section.section
  .container
    hr.dotted
    article.article 
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Preprocesadores de código
          br
          p
            | Se trata de un software que validad el codigo creado y lo procesa para que el resultante sea compatibles con todos los navegadores y/o reproductores.
            br
            | En el caso de los CSS se acostumbra a trabajar con 
            a(href='http://lesscss.org/', target='_blank')
              | LESS 
            | o 
            a(href='https://sass-lang.com/guide', target='_blank')
              | SCSS
            br
            ul.list.dot-list
              li Permite la herencia de estilos.
              li Ayuda a modularizar mejor las hojas de estilos.
              li Permite el uso de variables.
              li Permite realizar operaciones numéricas.
              li Permite el uso de funciones y bucles.
              li Permite detectar los herrores de codigo con anterioridad.
              li Reduce la cantidad de código.
              
        
        .col-12.col-sm-4
          iframe.iframe(width='100%', height='520', src='https://jsfiddle.net/PaladiniDigitalProjects/9ncrLey6/1/embedded/css/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')
        .col-12.col-sm-4
          iframe.iframe(width='100%', height='520', src='https://jsfiddle.net/PaladiniDigitalProjects/uay4dge0/embedded/css/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')


              
