- var headTitle = 'Header'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include frameworks-header.jade
				include frameworks-content-A.jade
				include frameworks-footer.jade
