section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          h1.article-title 
            | El término 
            strong
              | "framework" 
            |se traduce como
            strong 
              | "marco o entorno de trabajo".
            br
            br
            | En el ámbito de la codificación se refiere a un 
            strong
              | conjunto de reglas y estructuras predefinidas que ayudan a prototipar y codificar más rápido.
            br
            br
            | Comparte muchas similitudes con un 
            strong
              |sistema de diseño
            |, pero está más orientado al proceso de codificación.
            br
            br
            | Permite al frontend developer 
            strong
              | reaprobechar piezas de código 
            | y son sistemas que acostumbran a tener un enfoque muy basado en la práctica.
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/bootstrap.png')
                  figcaption
                    strong
                      |Bootstrap
                    |, creado por el equipo de desarrollo de Twitter es uno de los frameworks más populares.
              .item
                figure
                  img.img-responsive(src='public/images/foundation.png')
                  figcaption
                    strong
                      |Foundation
                    | dispone de muchos plugins que permiten ampliar el framework.
              .item
                figure
                  img.img-responsive(src='public/images/atom-pattern-lab.png')
                  figcaption
                    | Pattern Lab de Atomic Design.
