section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | En las páginas web la tipografía tiene un valor capital,
            strong
              | facilita la lectura de los contenidos y la navegación de los usuarios.
            br
            br
            | Es importante que quede muy clara la 
            strong
              | diferencia entre el texto de intrefice — menus, migas de pan, firmas... — y el texto de contenido.  
            
          
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/nyt-on.jpg')
                  figcaption
                    | Portada New York Times con tipografía
              .item
                figure
                  img.img-responsive(src='public/images/nyt-off.jpg')
                  figcaption
                    | Portada New York Times sin tipografía
