section.section
  .container
    article.article 
      .row
        .col-12.col-sm-6
          br
          h1.article-title
            | Crear un ritmo vertical a traves de la tipografía
            strong
              | bold, 
            | regular.
            br
            | html body line eight
        .col-12.col-sm-6
          figure
            img.img-responsive(src='public/images/ritmo-vertical.png')
            figcaption
              | Design mockup that includes a column grid as well as a vertical baseline
              
