section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Gerarquía tipográfica es la relación entre los diferentes elementos tipográficos de la página.
            br
            br
            | La lectura por pantalla es más anárquica y superficial que la de papel. Hay establecer gerarquias para poder ofrecer al usuario 3 niveles de lectura: 
            ul
              li
                strong
                  | Nivel superficial.
              li
                strong
                  |  Nivel de lectura en diagonal.
              li
                strong
                  |  Nivel de lectura en profundidad.
  
          
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/gerarquia-2.jpg')
                  figcaption
                    | Esquema gerarquia tipográfica.
              .item
                figure
                  img.img-responsive(src='public/images/gerarquia-1.jpg')
                  figcaption
                    | Gerarquia definida tipográficamente.
              .item
                figure
                  img.img-responsive(src='public/images/nyt-typo.jpg')
                  figcaption
                    | Portada tipográfica NYT.
