- var headTitle = 'Tipografia'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include tipografia-header.jade
				include tipografia-content-A.jade
				include tipografia-content-B.jade
				include tipografia-content-D.jade
				include tipografia-content-C.jade
				include tipografia-content-E.jade
				footer.page-footer
					include tipografia-footer.jade
