section.section
  .container
    article.article
      .row  
        .col-12
          figure
            img.img-responsive(src='public/images/escala-tipografica.png')
            figcaption.text-left
              strong
                |www.modularscale.com 
              |es un recurso online para generar escalas tipográficas.
