section.section
  .container
    article.article
      .row  
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/escala-tipografica.png')
            figcaption.text-left
              strong
                |type-scale.com
        .col-12.col-sm-4
          br
          p
            | Existen recursos como 
            strong
              | Type Scale 
            | que ayudan a generar escalas tipográficas resposive, y que permiten copiar los estilos CSS resultantes.
