section.section
  .container
    hr.dotted
    br
    article.article 
      .row
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/typesystem-typescale.png')
            figcaption.text-left
              |Escala tipográfica de Material Design (Google).
        .col-12.col-sm-4
          br
          h1.article-title
            | La definición de una 
            strong
              | escala tipográfica 
            | ayuda a tener acotado el modo en que se visuaizará la tipografia en cada formato.

      .row
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/system-normas-typo.png')
            figcaption.text-left
              | Escala tipográfica Airbnb - Fuente: airbnb.design
