section.section
  .container
    article.article
      hr.dotted
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | "Interficie type", 
          
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/txt-interficie-0.jpg')
                  figcaption
                    | Portada New York Times sin tipografía -->
              .item
                figure
                  img.img-responsive(src='public/images/txt-interficie-2.jpg')
                  figcaption
                    | Portada New York Times con tipografía
              .item
                figure
                  img.img-responsive(src='public/images/big-type-1.jpg')
                  figcaption
                    | Big type
              
              .item
                figure
                  img.img-responsive(src='public/images/big-type-2.jpg')
                  figcaption
                    | Big type
              .item
                figure
                  img.img-responsive(src='public/images/txt-interficie-0.jpg')
                  figcaption
                    | Texto de interficie
              .item
                figure
                  img.img-responsive(src='public/images/txt-interficie-1.jpg')
                  figcaption
                    | TExto de interficier
              .item
                figure
                  img.img-responsive(src='public/images/small-type-0.jpg')
                  figcaption
                    | Small type
                    
    
      
