section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | Con las relaciones tipográficas 
            strong
              | guiamos a los usuarios 
            | por la página, y condicionamos sus acciones.
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/shyp.jpg')
            figcaption
              | Shyp.com by Dann Petty via dribbble.com

              
