section.section
  .container
    article.article 
      .row
        .col-12.col-sm-6
          figure
            img.img-responsive(src='public/images/font-color.png')
            figcaption
              | Design mockup that includes a column grid as well as a vertical baseline
        .col-12.col-sm-6
          br
          h1.article-title
            | Modulación escala tipografica responsive
            strong
              | bold, 
            
            br
