- var headTitle = 'Noticia'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include noticia-header.jade
				include noticia-content-A.jade
				footer.page-footer
					include noticia-footer.jade
