@charset "UTF-8";
/* AKKURAT REGULAR */
@font-face {
  font-family: 'Akkurat-Regular';
  src: url("../fonts/Akkurat_Regular_Pro.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Akkurat_Regular_Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat_Regular_Pro.woff") format("woff"), url("../fonts/Akkurat_Regular_Pro.ttf") format("truetype"), url("../fonts/Akkurat_Regular_Pro.svg#3478686034630b6bbb8f4a5751bfe071") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

/* AKKURAT LIGHT */
@font-face {
  font-family: 'Akkurat-Light';
  src: url("../fonts/Akkurat-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Akkurat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat-Light.woff") format("woff"), url("../fonts/Akkurat-Light.ttf") format("truetype"), url("../fonts/Akkurat-Light.svg#ae05ff48a0f16a99523b1f8725269aec") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

/* AKKURAT BOLD */
@font-face {
  font-family: 'Akkurat-Bold';
  src: url("../fonts/Akkurat_Bold_Pro.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Akkurat_Bold_Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Akkurat_Bold_Pro.woff") format("woff"), url("../fonts/Akkurat_Bold_Pro.ttf") format("truetype"), url("../fonts/Akkurat_Bold_Pro.svg#8e4ac6878de559e681f53263f7ebda33") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

/* AKKURAT ITALIC */
@font-face {
  font-family: 'Akkurat-Italic';
  src: url("../fonts/AkkuratItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AkkuratItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AkkuratItalic.woff") format("woff"), url("../fonts/AkkuratItalic.ttf") format("truetype"), url("../fonts/AkkuratItalic.svg#5811b6164f599214c89c0e9fdb08d3dc") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

.mono {
  font-family: 'Cutive Mono', monospace; }

.footer-menu {
  width: 100%; }
  .footer-menu li {
    padding: 0 1rem 0 0;
    display: inline-block;
    font-size: 0.8rem; }

#nav_list {
  position: absolute;
  top: 0.5rem;
  left: 1rem; }
  #nav_list p {
    font-size: 2rem; }

.pushmenu {
  /*this is the nav*/
  text-align: left;
  width: 15rem;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  background: #f1f1f1; }

.pushmenu h3 {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  padding: 15px 25px;
  margin: 0;
  height: 16px; }

.links {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 5%; }
  .links li {
    position: relative;
    display: block;
    /* drops the nav vertically*/
    color: #000;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    padding: 0; }
    .links li span {
      color: blue;
      display: inline-block;
      margin-left: 1rem; }
    .links li ul {
      margin-bottom: 1.5rem; }
      .links li ul li a {
        font-family: 'Cutive Mono', monospace;
        line-height: 1;
        display: block;
        margin-bottom: 0.5rem; }

.pushmenu-left {
  left: -15rem; }

.pushmenu-left.pushmenu-open {
  left: 0; }

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.pushmenu-push-toright {
  left: 15rem; }

.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

nav-list.active {
  background-position: -20rem top; }

.buttonset {
  color: #000;
  left: -1rem;
  top: -1rem;
  position: absolute;
  font-size: 2rem;
  width: 40px;
  z-index: 999; }

.content {
  margin-top: 2rem; }

/*	FONTS
------------------------*/
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/
.container {
  max-width: 100% !important;
  width: 100% !important; }

body {
  font-family: 'Akkurat-Regular';
  color: #000;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  padding-top: 2rem; }
  body a {
    color: #000; }
    body a:hover {
      text-decoration: underline; }

/* ------ Normalize ----- */
*,
*:after,
*:before {
  box-sizing: border-box; }

ul,
ul li {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 0.5rem; }
  ul ul,
  ul li ul {
    margin-left: 1rem; }
    ul ul li,
    ul li ul li {
      font-size: 0.9rem;
      line-height: 1.75;
      margin-bottom: 0; }

.site-title {
  max-width: 15rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: block;
  margin: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

.page-title {
  font-size: 4rem;
  line-height: 0.95;
  margin-right: 15rem;
  font-weight: bold;
  display: block;
  margin: 1rem 0 4rem 0;
  letter-spacing: 0.05rem; }

.subtitulo {
  font-size: 1.35rem; }

blockquote {
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 40%;
  margin: 0 auto; }
  blockquote cite {
    color: silver; }

.img-responsive {
  width: 100%;
  height: auto; }
