section.section.section-caso_exito
  .container
    hr
    article.article 
      .row
        .col-12.col-sm-3
            h1.title
              |Contenedor marítimo TIBA: un sistema que revolucionó el comerció mundial.
            p En 1926, Malcom McLean, un joven camionero de New Jersey (EEUU), planteó un sistema en el cual la carga fuera apilada solo una vez dentro de un contenedor y que pudiera ser trasportado igual en barcos, camiones y trenes.
              br
              br
              | En 1965 se creo una norma ISO (International Standar Organization) para estandarizar las medidas de los contenedores a nivel internacional.
              br
              br
              | La definición y estandarización de la unidad mínima, dió un gran impulso a la implementación del sistema.
        .col-12.col-sm-9
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/detalle.jpg')
                  figcaption
                    | Esquema de container de transporte TIBA: unidad mínima del sistema de comercio internacional.
              .item
                figure
                  img.img-responsive(src='public/images/sea-land.jpg')
                  figcaption
                    | Puerto con containers "Sea-Land". Nombre de empresa creada por Malcom McLean.
              .item
                figure
                  img.img-responsive(src='public/images/container.jpg')
                  figcaption
                    | Container depositándose en un barco.
              .item
                figure
                  img.img-responsive(src='public/images/camion.jpg')
                  figcaption
                    | Container depositado en un camión.
              .item
                figure
                  img.img-responsive(src='public/images/tren.jpg')
                  figcaption
                    | Container depositado en un tren.
              .item
                figure
                  img.img-responsive(src='public/images/maersk.jpg')
                  figcaption
                    | Sistema TIBA en la actualidad.
