section.section
  .container
    hr.dotted
    article.article 
      .row
        .col-12.col-sm-4
          .card
            .card-title
              | Unidad mínima geométrica
            figure
              img.img-responsive(src='public/images/unidad-geometrica-1.jpg')
              figcaption
                a(href="https://whitney.org/NewIdentity", target="_blank")
                  | whitney.org
            p
              | Unidad mínima basada en la geometría de la W.
          br
          br
        .col-12.col-sm-4
          .card
            .card-title
              | Uninad mínima numérica
            figure
              img.img-responsive(src='public/images/regla-12.jpg')
              figcaption
                a(href="https://feverup.com", target="_blank")
                  | www.feverup.com
            p
              | Unidad mínima numérica basada en el número 12. Todos los valores numéricos del interfaz deben ser de 12 o múltiplos de esta cantidad: 24, 36, 48 ...
          br
          br
        .col-12.col-sm-4
          .card
            .card-title
              | Unidad mínima de relación
            figure
              img.img-responsive(src='public/images/unidad-relaciones.jpg')
              figcaption
                a(href="https://fonts.google.com/specimen/Roboto+Slab", target="_blank")
                  | fonts.google.com
            p
              | La selección tipográfica implica establecer relaciones entre el tipo de fuente, tamaño de letra y la interlinea.
          br
          br
