- var headTitle = 'Diseño de sistemas / Unidad mínima'
- var headDescription = 'Unidad mínima de un sistema web'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include caso-estudio-header.jade
				//- include caso-estudio-content-A.jade
				//- include caso-estudio-content-B.jade
				//- include caso-estudio-content-C.jade
				//- include caso-estudio-content-D.jade
				footer.page-footer
					include caso-estudio-footer.jade
