
/* ARTICLE */

.article {
  margin: 3rem 0 6rem;

  .container {
    border-bottom: 1px solid $light-grey;
  }

  p {
    @include font-size(16);
    line-height: 1.4;
    margin-bottom: 2rem;
    display: block;
    color:#5e5e5e;
  }

  .article-title {
    @include font-size(20);
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .block-title {
    @include font-size(18);
    line-height: 1.2;
    font-weight:bold;
    margin: 1rem 0;
    display: block;
  }

  .definition-list {
    @include font-size(16);
    line-height: 2;
  }

  .destacado {
    @include font-size(23);
    font-family: $primary-font;
    font-weight: bold;
    line-height: 1.3;
    margin: 2rem;
    display: block;
  }

  .left {text-align: left;}
  .center {text-align: center;}
  .right {text-align: right;}

  strong {
    font-weight: bold;
  }
  .card {
    figure {
      margin-bottom: 2rem;
    }
    .card-title {
      @include font-size(18.5);
      margin-bottom: 1.25rem;
    }

    &.card-volumen {
      padding: 1rem;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      figure {
        margin: -1rem -1rem 2rem -1rem;
      }
    }
  }

	@include media(lg){
    .article-title {
      @include font-size(24);
      line-height: 1.2;
      font-weight: normal;
    }

  }
}
