
/* ARTICLE */

.article {
  margin: 3rem 0 6rem;

  .container {
    border-bottom: 1px solid $light-grey;
  }

  p {
    @include font-size(16);
    line-height: 1.4;
    margin-bottom: 2rem;
    display: block;
    color:#5e5e5e;
  }

  .article-title {
    @include font-size(20);
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .card {
    .card-title {
      @include font-size(19);
      margin-bottom: 1rem;
    }

    &.card-volumen {
      padding: 1rem;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      figure {
        margin: -1rem -1rem 1rem -1rem;
      }
    }
  }

	@include media(lg){
    .article-title {
      @include font-size(24);
      line-height: 1.2;
      font-weight: normal;
    }

  }
}
