.page-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background:$white;
	border-top:1px solid $light-grey;
	@include font-size(14);
	z-index: 2;

	ul {
		li {
			display: inline-block;
			line-height: 3;
			margin: 1rem 2rem;
			&.prev {
				float: left;
			}

			&.next {
				float: right;
			}
			span {
				display:none;
				color:$grey;
				padding: 0 1rem;
			}
		}
	}

	@include media(lg){
		left: 250px;
	}

	&.footer-home {
		background: $black;
		a {
			color:$white;
		}
	}
}
