/* PAGE BASICS */

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
	font-family: $primary-font;
	line-height: 1;
  @include font-size(16);

	a {
		color:$black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

  hr {
    margin:2rem 0;
    background: $grey;
    line-height: 1px;
    height: 0.1rem;
    border:none !important;
    &.dotted {
      background: $grey url('../images/dotted.gif');
    }
  }
}

/* LAYOUT */

.page-header {
  margin:1.4rem 0 6rem 0;
  padding:2.5rem 1.3rem 0.8rem 2rem;
  border-bottom: 1px solid $grey;

	@include media(sm){
    margin:0 0 6rem 0;
    padding-left: 4rem;
  }
}

.section {
  margin:1rem;
  p {
    @include font-size(17);
    line-height: 1.4;
    margin-bottom: 2rem;
    display: block;
    padding-right: 3rem;
  }
  @include media(lg){
    margin: 3rem 2rem 2rem 3rem;
  }

  &.section-caso_exito {
    p {
      @include font-size(18);
      line-height: 1.4;
      color:$white;
    }

    .title {
      color:$white;
      @include font-size(24);
      line-height: 1.1;
      font-family: $primary-light;
      margin-bottom: 2rem;
    }

    .container {
      background:$black;

    .slider {
      margin-top: -2.4rem;
      .slider-counter {
        background: $black;
        color:$white;
      }
      .img-responsive {
        border:1px solid $black;
      }
    }

    figcaption {
      color:$white;
    }

  }

  }
}

.container {
  width: 100%;
  max-width: 900px;
  margin:2rem 0.5rem;

  @include media(lg){
    padding-right: 0;
    padding-left: 0;
    margin:2rem 0 !important;
  }

}

.list {
    @include font-size(17);
    margin: 2rem 0;
    padding: 0;

    &.list-xl {
      @include font-size(24);
    }

    &.dot-list {
    li {
      color:$black;
      display:block;
      position: relative;
      display: block;
      line-height: 1.3;
      margin-bottom: 1.35rem;
      padding-left: 2rem;
      display: block;
      &:before {
        color:$black;
        content:'-';
        font-weight: bold;
        display: block;
        position: absolute;
        top:-7px;
        left:0;
        @include font-size(18);
        line-height: 2;
        }
      }
    }
    dd {
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  }

.ordered-list {
  margin:5rem 10% 5rem 0;
  display: block;
  li {
    counter-increment: step-counter;
    display:block;
    position: relative;
    margin-left: 40px;
    @include font-size(18);
    line-height: 1.25;
margin-bottom: 1.5rem;
    &:before {
      position: absolute;
      top:-10;
      left:-30px;
      content: counter(step-counter);
      color: $black;
      font-family: $primary-bold;

    }
  }

  @include media(lg){
    li {
      @include font-size(22);
      line-height: 1.25;
      margin-bottom: 3rem;
      &:before {
        @include font-size(30);
      }
    }

  }
}

.text-left { text-align: left !important;}
.text-right { text-align: right !important;}
.no-border {border:none !important;}



/* STRONG */
strong { font-family: $primary-bold; }

/* ITALIC */
em { font-family: $primary-italic; }

/* IMG */
img {
  opacity: 1;
  transition: opacity 0.3s;
  background: #f1f1f1;
}

img[data-src]{
  opacity:0;
}

img.img-responsive {
	width: 100%;
	height: auto;
}

img.img-svg {
  width: 100%;
	height: auto;
  background: transparent !important;
}

figure {
  margin: 1rem 0;
  img {
    border:1px solid $light-grey;
  }

  figcaption {
    color:#6d6d6d;
    @include font-size(14);
    line-height: 1.5;
    padding: 0.8rem 0;
    text-align: right;
    &.text-left {
      text-align: left;
      padding-right: 5%;
    }
  }
}

iframe.iframe {
  border:1px solid $silver;
}

.iframe-caption {
  display:block;
  color:#6d6d6d;
  @include font-size(14);
  line-height: 1.5;
  padding: 0;
  text-align: right;
  &.text-left {
    text-align: left;
    padding-right: 5%;
  }
}

.btn {
  background:$white;
  color:$black;
  margin:2rem 0;
  padding: 1rem 1.5rem 0.85rem 1.5rem;
  border-radius:3px;
  &:hover{
    background:$silver;
  }
}

.no-border {
  border:none !important;
}

.subtitle {
  font-weight: bold;
}
