/* PAGE BASICS */

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
	font-family: $primary-font;
	line-height: 1;
  @include font-size(16);

	a {
		color:$black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

  hr {
    margin:2rem 0;
    background: $grey;
    line-height: 1px;
    height: 0.1rem;
    border:none !important;
    &.dotted {
      background: $grey url('../images/dotted.gif');
    }
  }
}

/* LAYOUT */

.page-header {
  margin:1.4rem 0 6rem 0;
  padding:2.5rem 1.3rem 0.8rem 2rem;
  border-bottom: 1px solid $grey;

	@include media(sm){
    margin:0 0 6rem 0;
    padding-left: 4rem;
  }
}

.section {
  margin:1rem;
  p {
    @include font-size(17);
    line-height: 1.4;
    margin-bottom: 2rem;
    display: block;
    padding-right: 3rem;
  }
  @include media(lg){
    margin: 3rem 2rem 2rem 3rem;
  }

  &.section-caso_exito {
    p {
      @include font-size(16);
      line-height: 1.2;
      color:$white;
      font-family: $primary-light;
    }

    .title {
      color:$white;
      @include font-size(22);
      line-height: 1.1;
      font-family: $primary-light;
      margin-bottom: 2rem;
    }

    a {
      color:$white;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    .container {
      background:$black;

    .slider {
      margin-top: -2.4rem;
      .slider-counter {
        background: $black;
        color:$white;
        font-family: $primary-light;
      }
      .img-responsive {
        border:1px solid $black;
      }
    }

    figcaption {
      color:$white;
    }

  }
  .list {
    color:$white;
    @include font-size(16);
    line-height: 1.2;
    letter-spacing: 0.025rem;
    dt {
      text-transform: uppercase;
      font-family: $primary-light;
    }
    dd {
      margin-bottom: 2rem;
      font-family: $primary-light;
    }
    }
  }
}

p.inicio {
  @include font-size(32);
  line-height: 1.4;
  letter-spacing: 0.025rem;
  margin-bottom: 4rem;
  font-family: $primary-light;
}

.container {
  width: 100%;
  max-width: 900px;
  margin:2rem 0.5rem;

  @include media(lg){
    padding-right: 0;
    padding-left: 0;
    margin:2rem 0 !important;
  }

}

.list {
    @include font-size(17);
    margin: 2rem 0;
    padding: 0;

    &.list-xl {
      @include font-size(24);
    }

    &.dot-list {
    li {
      color:$black;
      display:block;
      position: relative;
      display: block;
      line-height: 1.3;
      margin-bottom: 1.35rem;
      padding-left: 2rem;
      display: block;
      &:before {
        color:$black;
        content:'-';
        font-weight: bold;
        display: block;
        position: absolute;
        top:-7px;
        left:0;
        @include font-size(18);
        line-height: 2;
        }
      }
    }
    dd {
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  }

.ordered-list {
  margin:5rem 10% 5rem 0;
  display: block;
  li {
    counter-increment: step-counter;
    display:block;
    position: relative;
    margin-left: 40px;
    @include font-size(18);
    line-height: 1.25;
margin-bottom: 1.5rem;
    &:before {
      position: absolute;
      top:-10;
      left:-30px;
      content: counter(step-counter);
      color: $black;
      font-family: $primary-bold;

    }
  }

  @include media(lg){
    li {
      @include font-size(22);
      line-height: 1.25;
      margin-bottom: 3rem;
      &:before {
        @include font-size(30);
      }
    }

  }
}

.ordered-list-modulos {
  margin:1rem 0 0 0;
  display: block;
  li {
    counter-increment: step-counter;
    display:block;
    position: relative;
    margin-left: 20px;
    @include font-size(18);
    line-height: 1.25;
margin-bottom: 1.5rem;
    &:before {
      position: absolute;
      top:-10;
      left:-20px;
      content: counter(step-counter);
      color: $black;
      font-family: $primary-bold;

    }
  }
}




.text-left { text-align: left !important;}
.text-right { text-align: right !important;}
.no-border {border:none !important;}



/* STRONG */
strong { font-family: $primary-bold; }

/* ITALIC */
em { font-family: $primary-italic; }

span.light { font-family: $primary-light; }

/* IMG */
img {
  opacity: 1;
  transition: opacity 0.3s;
  background: #f1f1f1;
}

img[data-src]{
  opacity:0;
}

img.img-responsive {
	width: 100%;
	height: auto;
}

img.img-svg {
  width: 100%;
	height: auto;
  background: transparent !important;
}

figure {
  margin: 1rem 0;
  img {
    border:1px solid $light-grey;
  }

  figcaption {
    color:#6d6d6d;
    @include font-size(14);
    line-height: 1.5;
    padding: 0.8rem 0;
    text-align: right;
    &.text-left {
      text-align: left;
      padding-right: 5%;
    }
  }
}

iframe.iframe {
  border:1px solid $silver;
}

.iframe-caption {
  display:block;
  color:#6d6d6d;
  @include font-size(14);
  line-height: 1.5;
  padding: 0;
  text-align: right;
  &.text-left {
    text-align: left;
    padding-right: 5%;
  }
}

.btn {
  background:$white;
  color:$black;
  margin:2rem 0;
  padding: 1rem 1.5rem 0.85rem 1.5rem;
  border-radius:0;
  border:1px solid black;
  &:hover{
    background:$silver;
  }
  &.black {
    background: $black;
    color:$white;
    &:hover{
      background:$silver;
      color:$black;
    }
  }
}

.no-border {
  border:none !important;
}

.subtitle {
  font-family:$primary-bold;
  @include font-size(19);
}

a {
  &.active {
    border-bottom:1px dotted $black;
    &:hover {
      text-decoration: none;
    }
  }
}

ul.colores-modulos {
  display: block;
  li {
    display:block;
    @include font-size(17);
    line-height: 50px;
    margin-bottom: 3.2rem;
    display: table;
    text-indent: 20px;
    span {
      display: table-cell;
      vertical-align: middle;
      width: 75px;
      height: 50px;
      &.primario {
        background-color: $primary;
        border:1px solid $silver;
      }
      &.secundario {
        background-color: $secondary;
        border:1px solid $secondary;
      }
      &.terciario {
        background-color: $tertiary;
        border:1px solid $tertiary;
      }
    }

  }
}

.menu-modulos {
  text-align: center;
  button#menu {
    display: block;
    position: relative;
    top:15px;
    right: -10px;
  }
  img.img-svg {
    width: 20px;
    height: 30px;
    margin: 0.5rem auto;
  }
}

.grid-modulos {
  .col-1,
  .col-4,
  .col-6,
  .col-3,
  .col-8 {
    background: $silver;
    text-align: center;

    border-right:7px solid white;
    border-left:8px solid white;
  }

  p {
    text-align: center;
    padding: 2.5rem 0 0 0;
    line-height: 30px;
    font-family: $primary-bold;
  }
}
