/* ARTICLE */
.apertura-seccion {
  background:#000000;
  height: 100vh;
  color:$white;
  margin: 0 !important;
  padding: 2rem;

  #main{
    background: none;
   .article{
    .page-title{
      @include font-size(34);
        margin:2rem 0;

      }
    ul.list{
      display:block;
      margin-bottom:3rem;
      li {
        @include font-size(18);
        line-height: 1.25;
        margin-bottom: 1.5rem;
        display: block;
        font-family: $primary-light;
        }
      }
    }
  }
  p { color:$white !important; }

  @include media(sm) {
  #main{
    .article{
     .page-title{
       @include font-size(52);
        line-height: 1;
        margin:0 0 2rem 0;
       }
     ul.list li {
       @include font-size(20);
       }
     }
  }
}
@include media(lg) {
    .article-title {
      @include font-size(24);
      line-height: 1.2;
      font-weight: normal;
    }
  }
}

.page-footer{
  &.footer-seccion {
    border-top:1px solid grey;
    background: #000000;
    a {
      color:$white;
    }
  }
}
