nav.menu-sidebar {
  font-family: $primary-font;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: left 0.2s;
  z-index: 999;
  background: $white;
  @include font-size(14);
  border-right: 1px solid $grey;


  .page-title {
    @include font-size(20);
    margin:1rem 0 2rem;
    padding: 1rem 2rem 1rem 2rem;
    font-family: $primary-bold;

    line-height: 1.1;
    float: left;
    width: 100%;
    border-bottom: 1px solid $grey;
    min-height: 7.4rem;

    a {
      span {
        display: block;
        float: left;
        width: 70%;
      }
      .img-svg {
        max-width: 40px;
        margin-right: 50px;
      }
    }
  }

    &.active-sidebar{
      left: 0;
      position: fixed;
      overflow-y: auto;
    }

  @include media(lg){
    width: 250px;
    left:0;
    position: fixed;
    background: $silver;
    overflow-y:auto;

    .page-title {
      @include font-size(22);
    }
  }

ul {
  margin:1rem 1rem 2rem 2rem;
  display:block;

  li {
    display: block;
    font-weight: bold;
    line-height: 1.3;
    span {
      display:inline-block;
      margin-left: 0.5rem;
      color: $grey;
      @include font-size(14);
      font-weight: normal;
    }
    a {
      &.active {
        border-bottom:1px dotted $black;
        &:hover {
          border-bottom: none;
          text-decoration: none;
        }
      }
    }
    ul {
      margin-left: 1rem;
      display: block;
      li{
        font-weight: normal;
      }
    }
  }

  &.footer li{
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    }
  }
}

.apertura-seccion {
  #menu{
    .bar1, .bar2, .bar3 {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $white;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  &.active-sidebar{
    opacity: 0.25;
    @include media(lg){
      opacity: 1;
    }
  }

  @include media(lg){
    width: calc(100vw - 250px);
    left: 250px;
    right: 0;
    background: $white;
  }
}

#menu {
  top: 22px;
  right: 20px;
  position: absolute;
  z-index: 999;
  height: 30px;
  width: 35px;
  background: transparent !important;
  border:none;


  &:focus {outline: -webkit-focus-ring-color auto 0;}

  .bar1, .bar2, .bar3 {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.menu-on {

  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
    }

  .bar2 {opacity: 0;}

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
    }
  }

  cursor: pointer;

  @include media(sm){
    top: 32px;
    right: 25px;
  }

  @include media(lg){
    display:none;
  }
}
