nav.menu-sidebar {
  font-family: $primary-font;
  position: absolute;
  top: 0;
  left: -90%;
  width: 90%;
  height: 100vh;
  transition: left 0.2s;
  z-index: 999;
  background: $white;
  @include font-size(14);
  border-right: 1px solid $grey;


  .page-title {
    @include font-size(18);
    margin:1rem 0 2rem;
    padding: 1rem 2rem 1rem 2rem;
    font-family: $primary-bold;
    
    line-height: 1.2;
    float: left;
    width: 100%;
    border-bottom: 1px solid $grey;
    min-height: 7.4rem;

    a {
      span {
        display: block;
        float: left;
        width: 70%;
      }
      .img-svg {
        max-width: 40px;
        margin-right: 50px;
      }
    }
  }

    &.active-sidebar{
      left: 0;
      position: fixed;
      overflow-y: auto;
      #menu {
        right: 10px;
        background: url(../images/menu-tancar.svg) center center no-repeat !important;
        background-size: 20px 20px;
      }
    }

  @include media(lg){
    width: 18%;
    left:0;
    position: fixed;
    background: $silver;
    overflow-y:auto;

    .page-title {
      a {
        .img-svg {
          margin-right: 0;
          float: right;
          max-width:60px;
        }
      }
    }
  }

  #menu {
    right: -110%;
    position: absolute;
    top:15px;
    width: 30px;
    height: 30px;
    z-index: 999;
    border:none;
    background: url(../images/menu.svg) center center no-repeat;
    background-size: 20px 20px;

    &:focus {outline: -webkit-focus-ring-color auto 0;}

    cursor: pointer;
    @include media(lg){
      display:none;
    }
  }

ul {
  margin:1rem 1rem 2rem 2rem;
  display:block;

  li {
    display: block;
    font-weight: bold;
    line-height: 1.3;
    span {
      display:inline-block;
      margin-left: 0.5rem;
      color: $grey;
      @include font-size(14);
      font-weight: normal;
    }
    a {
      &.active {
        border-bottom:1px dotted $black;
        &:hover {
          text-decoration: none;
        }
      }
    }
    ul {
      margin-left: 1rem;
      display: block;
      li{
        font-weight: normal;
      }
    }
  }

  &.footer li{
    font-weight: normal;
    line-height: 2;
    }
  }
}

.apertura-seccion {
  #menu{
    background: url(../images/menu-white.svg) center center no-repeat !important;
  }
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  // padding-bottom: 4rem;

  &.active-sidebar{
    opacity: 0.25;
  }

  @include media(lg){
    width: 82%;
    left: 18%;
    right: 0;
    background: $white;
  }
}
