/* SLIDER */

.slider {
  position: relative;
  .owl-carousel {
    position: relative;
    .owl-nav {
      opacity: 0;
      transition: 0.5s;
      position: absolute;
      top: 41%;
      width: 95%;
      margin-left: 2.5%;

      button.owl-prev,
      button.owl-next {
        width: 20px;
      }

      button.owl-next {
        right: 0;
        position: absolute;
      }
    }
    &:hover{
      cursor: pointer;
      .owl-nav {
        opacity: 1;
      }
    }

  .owl-dots { display:none;}

  }

  .slider-counter {
    position: absolute;
    @include font-size(14);
    bottom: 2rem;
    left: 0;
    position: absolute;
    background: $white;
    z-index: 1;
  }
}
