/* RESET */
@import "reset.scss";
/* VARIABLES */
@import "variables.scss";

/* PAGE BASICS */

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
	font-family: $primary-font;
	line-height: 1;

	a {
		color:$black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

  hr {
    margin:2rem 0;
    background: #bbb;
    height: 1px;
    border:none;
  }
}

/* Bootstrap GRID */
@import "grid.scss";

/* FONTS */
@import "fonts.scss";

/* MENU */
@import "menu.scss";


/* ARTICLE */
@import "article.scss";

/* FOOTER */
@import "footer.scss";

/* LAYOUT */

.page-header {
  margin:0 0 6rem 0;
	@include media(lg){
    margin:0 2rem 6rem;
  }
}

.section {
  margin:1rem;
  p {
    @include font-size(16);
    line-height: 1.2;
    margin-bottom: 2rem;
    display: block;
  }
  @include media(lg){
    margin: 3rem 2rem 2rem 3rem;
  }
}

.container {
  width: 100%;
  max-width: 900px;
  margin:2rem auto;

  @include media(lg){
    padding-right: 0;
    padding-left: 0;
  }
}

/* IMG */

img {
  opacity: 1;
  transition: opacity 0.3s;
  background: #f1f1f1;
}

img[data-src]{
  opacity:0;
}

img.img-responsive {
	width: 100%;
	height: auto;
}

figure {
  margin: 1rem 0;
  img {
    border:1px solid $light-grey;;
  }
  figcaption {
    color:$grey;
    @include font-size(14);
    line-height: 1.3;
    padding: 0.5rem 0;
  }
}
/* TYPOGRAPHY */

.page-title {
	@include font-size(32);
  font-weight: normal;

	@include media(lg){
		@include font-size(50);
	}
}
