section.section
  .container
    hr.dotted
    article.article
      .row
        .col-12.col-sm-3
          dl.definition-list.definition
            dt
              h2.subtitle Principios de diseño
            dd
              p 
                | Es importante tener los  
                strong
                  | principios básicos 
                |en mente 
                strong
                  | cuando tomamos decisiones de diseño.
        .col-12.col-sm-9
          figure
            img.img-responsive(src='public/images/saleforces.png')              
            figcaption
              | Principios de diseño de Lightning Design System / www.lightningdesignsystem.com
      br
      br
      .row
        .col-12.col-sm-9
          figure
            img.img-responsive(src='public/images/atlassian.png')              
            figcaption.text-left
              | http://atlassian.design
        .col-12.col-sm-3
          br
          p Atlassian publica sus principios de diseño y explica como los traslada a la propia marca.
        
