- var headTitle = 'Principios y valores'
- var headDescription = '¿Cómo definimos nuestros valores y principios de nuestro sistema de diseño?'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include principios-header.jade
				include principios-content-A.jade
				include principios-content-B.jade
				
				footer.page-footer
					include principios-footer.jade
