section.section
  .container
    article.article 
      .row
        .col-12.col-sm-8
          h2.article-title
            | Para asegurar el éxito de un sistema es necesario 
            strong
              | definir unos principios y reglas básicas 
            | que nos permitan delimitar el marco de actuación.
          
          ol.list.ordered-list
            li
              | Formula los puntos clave del sistema.
            li
              | Formula los principios éticos del sistema.
            li
              | Formula los principios de diseño del sistema.
            li
              | Decide si está construyendo un sistema desde cero o vas a partir des de otro sistema.
            li
              | Decide que herramientas y tecnologias vas a usar.
            li 
              | Comunica los puntos clave, las normas y principos a todo el equipo.
          
          p
            | Cuanto más restrictivo seas con las reglas más te verás empujado a buscar buenas soluciones de diseño, pero ha de ser un sitema viable. Busca un equilibrio entre normas y necesidades.
          
              
        .col-12.col-sm-4
          figure
            img.img-responsive(src='public/images/parchis.png', alt='Tablero de Parchís')
            figcaption.text-left
              strong
                | Tablero de Parchís.
              br
              | Los juegos de mesa funcionan gracias a un compendio de normas que explican y definen el sistema de juego.
              br
              | Es imprescindible que las normas sean aceptadas y validadas por todos los participantes antes de jugar.
              
