section.section
  .container
    hr
    article.article
      .row
        .col-12.col-sm-7
          h2.article-title
            | Fundamentos de un sistema web
            dl.list
              dt 
                strong Consistente
              dd La forma en que los componentes se construyen y administran sigue un patrón predecible.
              dt 
                strong Autónomo
              dd El sistema de diseño se trata como una dependencia autónoma.
              dt 
                strong Reutilizable
              dd Los componenetes del sistema pueden ser reutilizados en difrenetes contextos.
              dt 
                strong Accesible
              dd Las aplicaciones creadas con su sistema de diseño pueden ser utilizadas por tantas personas como sea posible, sin importar cómo accedan a la web.
              dt 
                strong Robusto
              dd No importa el producto o la plataforma a la que se aplique el sistema de diseño, debe igualmente.
                
        .col-12.col-sm-5
          figure
            img.img-responsive.no-border(src='public/images/lego-duplo-lego-bricks.jpg')              
            figcaption.text-left
              | Lego System --> Combinación de un bloque de Lego básico con otros de Lego infantil Duplo. (img: Wikipedia).
