section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          dl.definition-list.definition
            dt
              h2.subtitle
                | Sistema
            dd
              p 
                strong 
                  | Un sistema se define como una entidad con límites y con partes interrelacionadas e interdependientes, cuya suma es mayor a la suma de sus partes.
        .col-12.col-sm-1
        .col-12.col-sm-6
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/sistema-modular-1.jpg')
                  figcaption
                    | SVALNÄS - Sistema de estanterías modulares / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/sistema-modular-2.jpg')
                  figcaption
                    | SVALNÄS - Sistema de estanterías modulares / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/sistema-modular-3.jpg')
                  figcaption
                    | SVALNÄS - Sistema de estanterías modulares / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/sistema-modular-4.jpg')
                  figcaption
                    | SVALNÄS - Sistema de estanterías modulares / Fuente: IKEA
              .item
                figure
                  img.img-responsive(src='public/images/sistema-modular-5.jpg')
                  figcaption
                    | SVALNÄS - Resultado final / Fuente: IKEA
