section.section
  .container
    hr
    article.article
      .row
        .col-12.col-sm-9
          dl.definition-list.definition
            dt
              h2.subtitle Sistema web
            dd
              p 
                |Un sistema de diseño es un 
                strong
                  | conjunto prácticas compartidas y patrones interconectados 
                | que nos ayudan lograr el objetivo de los productos digitales.
        .col-12
          figure
            img.img-responsive(src='public/images/design-system.png')              
            figcaption
              | Airbnb - Sistema de diseño / Fuente: airbnb.design
      hr
      article.article   
        .row
          .col-12.col-sm-4
            dl.definition-list.definition
              dt
                h2.subtitle
                  | Practicas compartidas
              dd
                p 
                  strong
                    | Conjunto de reglas, restricciones y principios 
                  | sobre cómo elegimos crear, capturar, compartir y usar los patrones.
                  br
                  | Son imprescindibles cuando se trabaja en equipo.
          .col-12.col-sm-8
            figure
              img.img-responsive(src='public/images/system-normas.png')
              figcaption
                | Airbnb - Normas y reglas compartidas / Fuente: airbnb.design

      hr 
      article.article   
        .row
          .col-12.col-sm-8
            figure
              img.img-responsive(src='public/images/patterns.png')
              figcaption
                | Marvel - Patrones  / Fuente: marvelapp.com
                
          .col-12.col-sm-4
            dl.definition-list.definition
              dt
                h2.subtitle
                  | Patrones
              dd
                p Los 
                  strong
                    |patrones son los elementos repetitivos que combinamos para crear e interconectar elementos: 
                  | flujos de usuarios, interacciones, botones, iconos de campos de texto, color, tipografía, microcopía.
