- var headTitle = 'Definicion'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include definicion-header.jade
				include definicion-content-A.jade
				footer.page-footer
					include definicion-footer.jade
