- var headTitle = 'Definicion'
- var headDescription = 'Definición de Sistema de diseño'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include definicion-header.jade
				include definicion-content-A.jade
				include definicion-content-B.jade
				include definicion-content-C.jade
				
				footer.page-footer
					include definicion-footer.jade
