section.section
  .container
    article.article 
      .row
        .col-12.col-sm-6
          strong
            | teoria general de distemas
          p Un sistema se define como una entidad con límites y con partes interrelacionadas e interdependientes cuya suma es mayor a la suma de sus partes.
          
        .col-12.col-sm-6
          figure
            img.img-responsive(src='public/images/sistema-ikea.jpg')
            figcaption
              | Sistema de almacenaje VVVUY Font: Web ikea
section.section
  .container 
    article.article
      h2.subtitle ¿Qué es un sistema responsive?
      .row
        .col-12.col-sm-6
          blockuote
            A design sistem es a set of interconnected patterns and shared practiques coherently organized to achieve the purpose of digital products. Patterns are the repeating elements that we combine to create and interface: things like user flows, interactions, buttons, text fields icons, color, typography, microcopy. Practiques are how we chose to create, capture, share and use those patterns, particularity when workign in a team.
        .col-12.col-sm-6
          p.traduccion Un sistema de diseño es un conjunto de patrones interconectados y prácticas compartidas organizadas coherentemente para lograr el objetivo de los productos digitales. Los patrones son los elementos repetitivos que combinamos para crear e interconectar: cosas como flujos de usuarios, interacciones, botones, iconos de campos de texto, color, tipografía, microcopía. Las prácticas son cómo elegimos crear, capturar, compartir y usar esos patrones, particularidad cuando se trabaja en equipo.
          
