- var headTitle = 'Header'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include body-header.jade
				include body-content-A.jade
				footer.page-footer
					include body-footer.jade
