- var headTitle = 'Tipografia'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include grid-header.jade
				include grid-content-A.jade
				include grid-content-B.jade
				include grid-content-C.jade
				include grid-content-D.jade
				include grid-content-E.jade
				
				footer.page-footer
					include grid-footer.jade
