section.section
  .container
    article.article
      br
      hr
      br
      .row
        .col-12.col-sm-3
          br
          h1.article-title
            | Baseline grid a 8pt
        .col-12.col-sm-9
          figure
            img.img-responsive(src='public/images/baseline.png')
            figcaption
              | Portada tipográfica NYT.
