section.section
  .container
    hr.dotted
    article.article
      .row 
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/proporcio-1.jpg')
                  figcaption
                    | Trifulca en el parlamento de Ukrania.
              .item
                figure
                  img.img-responsive(src='public/images/proporcio-2.jpg')
                  figcaption
                    | Trifulca en el parlamento de Ukrania.
              .item
                figure
                  img.img-responsive(src='public/images/proporcio-3.jpg')
                  figcaption
                    | Pelea en la calle de UK.
              .item
                figure
                  img.img-responsive(src='public/images/proporcio-4.jpg')
                  figcaption
                    | Pelea en la calle de UK.
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Proporción aurea.
      .row 
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/golden-0.jpg')
                  figcaption
                    | Mariya Tereshkova bia blog.prototypr.io
              .item
                figure
                  img.img-responsive(src='public/images/golden-2.jpg')
                  figcaption
                    | Mariya Tereshkova bia blog.prototypr.io
              .item
                figure
                  img.img-responsive(src='public/images/golden-1.jpg')
                  figcaption
                    | Mariya Tereshkova bia blog.prototypr.io
