- var headTitle = 'Grid'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include grid-header.jade
				include grid-content-A.jade
				footer.page-footer
					include grid-footer.jade
