section.section
  .container
    article.article
      .row
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/the-grid-system.png')
            figcaption.text-left
              | Esquema gerarquia tipográfica.
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | GRID SYSTEM
      .row
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/12-grid.png')
            figcaption.text-left
              | Esquema gerarquia tipográfica.
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | GRID RESPONSIVE
      
      .row
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/bootstrap-grid.png')
            figcaption.text-left
              | Esquema gerarquia tipográfica.
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | GRID RESPONSIVE

      

    hr.dotted
    article.article
      .row
        .col-12.col-sm-4
          figure
            img.img-responsive(src='public/images/ukrania-off.jpg')
            figcaption.text-left
              | Esquema gerarquia tipográfica.
        
        .col-12.col-sm-4
          figure
            img.img-responsive(src='public/images/ukrania-on.jpg')
            figcaption.text-left
              | Esquema gerarquia tipográfica.
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Proporción aurea. 
        
        
