section.section
  .container
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | La rejilla o "grid" 
            |podemos considerarla como un sistema dentro de nuestro sistema we. Realiza la función de un esqueleto: no resulta visible a simple vista, pero 
            strong
              | mantiene los elementos del sistema ordenados y alineados.
            br
            br
            | Una rejilla bien aplicada traslada una sensación harmónica a los usurios.
            
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/the-grid-system.png')
            figcaption.text-left
              | www.thegridsystem.org
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | La unidad minima de un sistema de rejilla es la columna.
            br
            br
            | En diseño web se acostumbra trabajar con 
            strong
              | 12 columnas 
            | por ser múltiple de 4 (móvil) y de 8 (tablet).

        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/12-grid.png')
            figcaption.text-left
              | Grid de 12 columnas.
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | En el 
            strong
              |diseño responsive, la rejilla es imprescindible 
            |para poder acomodar los contenido a cada formato.
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/bootstrap-grid.png')
            figcaption.text-left
              | Esquema de columnado en función del formato.
        
