- var headTitle = 'Sidebar'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include sidebar-header.jade
				include sidebar-content-A.jade
				footer.page-footer
					include sidebar-footer.jade
