- var headTitle = 'Orden de lectura'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include orden-header.jade
				include orden-content-A.jade
				footer.page-footer
					include orden-footer.jade
