- var headTitle = 'Definicion'
- var headDescription = 'Definición de Sistema de diseño'
include ../../head.jade
	body.page.apertura-seccion
		.container-fluid
			include ../../menu.jade
			main#main
				include sistemas-header.jade
				include sistemas-content-A.jade
				include sistemas-footer.jade
