section.section
  .container
    article.article 
      .row
        .col-12
          blockquote.destacado
            p “We are now in transition from an object-oriented to a systems-oriented culture. Here change emanates, not from things, but from the way things are done.”
            br
            span.firma
              |Jack Burnham (1968), Systems Esthetics
      .row
        .col-12.col-sm-2
        .col-12.col-sm-8
          img.img-responsive.no-border(src='public/images/sistema.png')
 
              
