.container
  .main
    section.buttonset
      span#nav_list
        |&#9776;
    section.content
      .row
        .col-12.col-sm-8
          img.img-responsive(src='site/assets/img/formats.png', alt='Layout formats')
        .col-12.col-sm-4
          h1.page-title
            | Sistemas de diseño web
      .row 
        .col-6
          //- a.prev(href='#')
          //-   | < Anterior
        .col-6.text-right
          a.next(href='#')
            | Introducción >
