.container
  .main
    section.buttonset
      #nav_list MENU
    section.content
      h1.page-title
        | Titular largo de dos líneas
      p.subtitulo
        | Subtítulo Subtítulo Subtítulo Subtítulo Subtítulo Subtítulo Subtítulo Subtítulo Subtítulo 
      
      p parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo 
        
      figure
        img(src='http://via.placeholder.com/500x350', alt='test image' , width="500", height='350')
        figcaption Fig1. - Caption image.
        
      .row
        .col-12.col-sm-6
          h2.block-title
            |Título de bloque
          p parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo parrafo 
        .col-12.col-sm-6
          figure
            img.img-responsive(src='http://via.placeholder.com/500x350', alt='test image' , width="500", height='350')
            figcaption Fig2. - Caption image.
            
        blockquote
          p
            | Yo llegué en el momento justo, interesado, cuando el hipertexto e Internet habían visto ya la luz. La tarea que me correspondía era hacer que casaran.
            
            Tim Berners-Lee, 
              cite
                Tejiendo la Web
        .row
          .col-12.col-sm-4
            h2.block-title
              |Título de bloque
            p.mono Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus quam, tristique eu suscipit id, convallis in tortor. Mauris quis eros nec metus lacinia semper. Etiam non turpis volutpat, molestie metus vitae, varius purus.
          .col-12.col-sm-8       
            <p data-height="450" data-theme-id="light" data-slug-hash="bMRmWQ" data-default-tab="js,result" data-user="PaladiniDigitalProjects" data-embed-version="2" data-pen-title="bMRmWQ" class="codepen">See the Pen <a href="https://codepen.io/PaladiniDigitalProjects/pen/bMRmWQ/">bMRmWQ</a> by Paladini Digital Projects (<a href="https://codepen.io/PaladiniDigitalProjects">@PaladiniDigitalProjects</a>) on <a href="https://codepen.io">CodePen</a>.</p>
          
    // End Content
  // End Main
// End Container
