- var headTitle = 'Grilla tipográfica'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include grilla-header.jade
				include grilla-content-A.jade
				footer.page-footer
					include grilla-footer.jade
