article.article
  .container
    h1.article-title
      | Goals
    p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
    figure
      img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
      figcaption
        | Esto es el caption
    .row
      .col-12.col-sm-4
        p Item no
      .col-12.col-sm-4
        p Item no
      .col-12.col-sm-4
        p Item no
    hr
    .row
      .col-12.col-sm-6
        p Item no
      .col-12.col-sm-5
        p Item no

article.article
  .container
    h1.article-title
      | Segundo
    .row
      .col-12.col-sm-6
        p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-6
        figure
          img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          figcaption
            | Esto es el caption
  
    .row
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
    br
    hr
    <iframe height='265' scrolling='no' title='TEST' src='//codepen.io/PaladiniDigitalProjects/embed/BxqRad/?height=265&theme-id=light&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/PaladiniDigitalProjects/pen/BxqRad/'>TEST</a> by Paladini Digital Projects (<a href='https://codepen.io/PaladiniDigitalProjects'>@PaladiniDigitalProjects</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
    hr
    br
    br
    .row
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
