- var headTitle = 'Introduccion'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include introduccion-header.jade
				include introduccion-content-A.jade
				footer.page-footer
					include introduccion-footer.jade
