article.article
  .container
    h1.article-title
      | Antecedentes
    .row
      .col-12.col-sm-6
        p Este proyecto nace a raíz de un proceso de investigación académica iniciado en el
          a(href="http://elisava.net/es/estudios/master-universitario-diseno-y-comunicacion", title="ELISAVA")
            | Máster de Diseño y Comunicación - MUDiC - 
          | en la escuela univesitaria ELISAVA de Barcelona.
          br
      .col-12.col-sm-6
        figure
          img.img-responsive.no-border(data-src='public/images/elisava.png', alt='Escuela Universitaria ELISAVA Diseño e Ingeniería')
    hr  
    figure
      img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
      figcaption
        | Esto es el caption
    .row
      .col-12.col-sm-4
        p Item no
      .col-12.col-sm-4
        p Item no
      .col-12.col-sm-4
        p Item no
    hr
    .row
      .col-12.col-sm-6
        p Item no
      .col-12.col-sm-5
        p Item no

article.article
  .container
    h1.article-title
      | Segundo
    .row
      .col-12.col-sm-6
        p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-6
        figure
          img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          figcaption
            | Esto es el caption
  
    .row
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card
          figure
            img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
    br
    hr
    <p data-height="300" data-theme-id="33491" data-slug-hash="xjyrbg" data-default-tab="css,result" data-user="PaladiniDigitalProjects" data-embed-version="2" data-pen-title="TEST" class="codepen">See the Pen <a href="https://codepen.io/PaladiniDigitalProjects/pen/xjyrbg/">TEST</a> by Paladini Digital Projects (<a href="https://codepen.io/PaladiniDigitalProjects">@PaladiniDigitalProjects</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    hr
    br
    br
    .row
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .col-12.col-sm-4
        .card.card-volumen
          figure
            img.img-responsive(data-src='public/images/locomotora.jpg', alt='Locomotora')
          h2.card-title
            | Sistema
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
