article.article
  .container
    p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
    figure
      img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='imagen pesada')
      figcaption
        | Esto es el caption
