- var headTitle = 'Colores'
- var headDescription = 'El valor de los colores en los sistemas'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include colores-header.jade
				include colores-content-A.jade
				include colores-content-C.jade
				include colores-content-B.jade
				include colores-content-E.jade
				footer.page-footer
					include colores-footer.jade
