section.section
  .container
    hr.dotted
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Regla 60 / 30 /10
            br
            br
            strong
              |60%
            br
            |Color primario 
            br
            br
            strong
              |30%
            br
            |Color secundario 
            br
            br
            strong
              |10%
            br
            |Color de acento 
            
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/regla-1.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-2.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-2.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-4.jpg')
                  figcaption
                    | Fuente: Ikea
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | Colores principales y secundarios
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/unow-design-system.jpg')
            figcaption
              | Christelle Mozzati bia www.dribbble.com
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Llamada a la acción
            br
            | Hay ciertos colores que hay que utilzarlos con cuidado, ya que cinllevn un significado en si mismo.
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/bootstrap-colors.png')
            figcaption
              | bia www.lancetalent.com
