section.section
  .container
    hr.dotted
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Regla 60 / 30 /10
            br
            br
            |En decoración se acostumbra a usar esta regla para calcular las proporciones de cada color.
            br
            br
            strong
              |60%
            br
            |Color primario 
            br
            br
            strong
              |30%
            br
            |Color secundario 
            br
            br
            strong
              |10%
            br
            |Color de acento 
            
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/regla-1.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-2.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-2.jpg')
                  figcaption
                    | Fuente: Ikea
              .item
                figure
                  img.img-responsive(src='public/images/regla-4.jpg')
                  figcaption
                    | Fuente: Ikea
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            |Hay que tener en cuenta que un color puede tener variaciones  a nivel de tono, degradado, brilos, etc...
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/unow-design-system.jpg')
            figcaption
              | Christelle Mozzati via www.dribbble.com
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | Call to action
            br
            br
            | Hay ciertos colores que hay que 
            strong
              |utilzarlos con cuidado valorando bien el contexto donde se aplica, 
            | muchos de ellos conllevan significado en si mismos.
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/bootstrap-colors.png')
            figcaption
              | Fuente: www.lancetalent.com
