section.section
  span
    |https://ibm-design-language.eu-de.mybluemix.net/design/language/experience/visual/color/
  br
  br
  span
    |Relación de los 3 tercios / Color interacciones
  br
  br
  span
    |Optimizing typography is optimizing readability, accessibility, usability(!), overall graphic balance.
    |https://uxplanet.org/10-tips-on-typography-in-web-design-13a378f4aa0d
  
