section.section
  .container
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            | En las webs La importancia de la tipografía por que define al gerarquia visual y la interficie de us
            strong
              | bold, 
            | regular.
        .col-12.col-sm-4
          figure
            img.img-responsive(src='public/images/rgb.jpg')
            figcaption
              | RGB: Red, Gren, Blue. Digital representations of images are generally produced using light in the RGB color model. RGB is a light additive color model, meaning that colors have to be added together to produce lighter colors and ultimately white.
        .col-12.col-sm-4
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/monochrome.jpg')
                  figcaption
                    | Monocromatico
              .item
                figure
                  img.img-responsive(src='public/images/analogous.jpg')
                  figcaption
                    | Análogo
              .item
                figure
                  img.img-responsive(src='public/images/complementary.jpg')
                  figcaption
                    | Complementario
              .item
                figure
                  img.img-responsive(src='public/images/triadic.jpg')
                  figcaption
                    | Triádico
          
