section.section
  .container
    article.article
      .row
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/adobe-color.png')
                  figcaption
                    | Adobe Color CC
              .item
                figure
                  img.img-responsive(src='public/images/ms-colors.png')
                  figcaption
                    | Microsoft color system
        .col-12.col-sm-4
          br
          h1.article-title
            | Existen múltiples herramientas online que nos ayudan a definir las relaciones entre colores.
            br
            br
            | Es importante decidir 
            strong
              | que color va a ser el primario y cual va a tener un papel secundario o terciario.
