section.section
  .container
    article.article
      .row
        .col-12.col-sm-4
          br
          h1.article-title
            strong
              | La creación de una paleta de colores 
            | ayuda a establecer cuales son las 
            strong
              |relaciones que se crean entre los diferentes colores 
            | utilizados en nuestro sistema.
            
            
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/paleta-3.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-2.png')
                  figcaption
                    | via www.lancetalent.com   
              .item
                figure
                  img.img-responsive(src='public/images/paleta-1.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-4.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-5.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-6.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-7.png')
                  figcaption
                    | via www.lancetalent.com
              .item
                figure
                  img.img-responsive(src='public/images/paleta-8.png')
                  figcaption
                    | via www.lancetalent.com
        
