section.section
  .container
    article.article
      .row
        .col-12.col-sm-8
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(src='public/images/adobe-color.png')
                  figcaption
                    | Adobe Color CC
              .item
                figure
                  img.img-responsive(src='public/images/ms-colors.png')
                  figcaption
                    | Microsoft color system
        .col-12.col-sm-4
          br
          h1.article-title
            | Color primario secundario y terciario
ms-colors
