- var headTitle = 'Modulación'
- var headDescription = 'Como se moduan los sistema responsive'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include mobilefirst-header.jade
				include mobilefirst-content-A.jade
				include mobilefirst-content-B.jade
				include mobilefirst-content-C.jade
				include mobilefirst-content-D.jade
				footer.page-footer
					include mobilefirst-footer.jade
