section.section
  .container
    article.article 
      .row  
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/boston-globe.png')
            figcaption.text-left
              | Website responsive del diario Boston Globe --> www.bostonglobe.com
        .col-12.col-sm-4
          br
          h1.article-title 
            strong
              | "Graceful degradation vs progressive enhancement"
            br
            br
          p
            | La modulación "mobile first" se basa en diseñar y codificar primero para la versión móvil, obligando a prescindir de lo superfluo y sintentizar al máximo. Este proceso acostumbra a redundar positivamente en el producto final, y hay que tener en cuenta el uso que se le a la web en función del dispositivo.
            ul.list.dot-list
              li
                strong
                  |Móvil 
                | --> Uso esporádico a modo de checkign. Acciones simples.
              li
                strong
                  |Tablet 
                | --> Lectura más reposada. Acciones de complejidad media.
              li
                strong
                  |Sobremesa 
                | --> Trabajo. Acciones complejas.
