section.section
  .container
    article.article 
      .row  
        .col-12.col-sm-8
          figure
            img.img-responsive(src='public/images/boston-globe.png')
            figcaption.text-left
              | Website responsive del diario Boston Globe --> www.bostonglobe.com
        .col-12.col-sm-4
          br
          h1.article-title 
            strong
              | "Graceful degradation vs progressive enhancement"
            br
            br
          p
            | La codificación "mobile first" se basa en desarrollar primero para la versión móvil, obligando a prescindir de lo superficial sintetizando el mensaje al máximo. Este técnica acostumbra a redundar positivamente en el producto final. Es importante tener en cuenta el uso que se le da al espacio web en función del dispositivo.
            ul.list.dot-list
              li
                strong
                  |Móvil 
                | --> Uso esporádico a modo de checking. Acciones simples.
              li
                strong
                  |Tablet 
                | --> Lectura más reposada. Acciones de complejidad media.
              li
                strong
                  |Sobremesa 
                | --> Trabajo. Acciones complejas.
