section.section
  .container
    article.article
      br
      hr.dotted
      br
      .row
        .col-12
          h1.article-title
            |Alzado resposive website
            br
            |www.lavanguardia.es
      .row
        .col-12
          figure 
            img.img-responsive.no-border(src='public/images/responsive-lavanguardia.jpg') 
