hr.dotted
br
br
article.article
  .row
    .col-12
      figure
        img.img-svg.img-border(src='public/images/mobiler-first.svg')
        figcaption.text-left
          "Graceful degradation vs. progressive enhancement" 
    .col-12
      blockquotes
