- var headTitle = 'Diseño de sistemas / Referencias'
- var headDescription = 'Referencias y recursos usados en este site web'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Buenas prácticas
				section.section
					.container
						.row
							.col-6.col-sm-3
								article.article
									h1.article-title
										|En este apartado mostramos un listado de empresas o asociaciones que 
										strong
											|se estan tomando en serio los sistemas de diseño, 
										|y que los estan aplicando bien.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://getbootstrap.com/', alt='Google')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0022.jpg')
										h2.card-title
											| Google
										p
											| Guia de Google para crear bonitos y intuitivos productos usando su kit de interficies para usuarios.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://getbootstrap.com/', alt='Bootstrap')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0020.jpg')
										h2.card-title
											| Bootstrap
										p
											| Uno de los frameworks de codificación HTML, CSS y javascript más utilizados.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://foundation.zurb.com/', alt='Foundation')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0021.jpg')
										h2.card-title
											| Foundation
										p
											| Otro de los frameworks de codificación HTML, CSS y javascript más populares.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='http://ux.mailchimp.com/patterns/', alt='Mailchimp')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0000.jpg')
										h2.card-title
											| Mailchimp
										p
											| Libreria de estilos de Mailchip.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://designsystem.digital.gov/', alt='U.S. Web Design System')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0001.jpg')
										h2.card-title
											| U.S. Web Design System
										p
											| Un sistema de diseño para el gobierno federal de Estados Unidos
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='http://alistapart.com/about/style-guide', alt='A list apart')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0002.jpg')
										h2.card-title
											| A list apart
										p
											| Guia de estilos de la web sobre temas web A list apart.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://codepen.io/guide', alt='Codepen')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0003.jpg')
										h2.card-title
											| Codepen
										p
											| Patrones de diseño del editor de codigo online Codepen
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://atlassian.design/', alt='Atlassian')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0004.jpg')
										h2.card-title
											| Atlassian
										p
											|Libro de marca, estilos y principios de diseño de Atlassian.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.ibm.com/design/language/', alt='IBM Design')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0019.jpg')
										h2.card-title
											| IBM Design
										p
											| Guia de como usar el lenguag de diseño y las maneras de IBM.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://developer.apple.com/design/', alt='Apple Design')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0018.jpg')
										h2.card-title
											| Apple
										p
											|Guias de diseño de Apple para iPhone X y patrones para interficies.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.audi.com/ci/en/renewed-brand.html', alt='Audi')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0005.jpg')
										h2.card-title
											| Audi
										p
											| Interficie de usuario de Audi, patrones para la consistencia de la marca.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://gdstechnology.blog.gov.uk/2014/12/11/govuk-living-style-guide/', alt='gov.uk')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0009.jpg')
										h2.card-title
											| Govierno de UK
										p
											| Guia de estilos para toda la web del govierno de la United Kingdom.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.futurelearn.com/pattern-library', alt='Future Learn')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0008.jpg')
										h2.card-title
											| Future Learn
										p
											| Libreía de patrones visuales y de codificación.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.nasa.gov/image-feature/nasa-graphics-standards-manual', alt='NASA')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0010.jpg')
										h2.card-title
											| Nasa
										p
											| NASA Graphics Standards Manual en su versión online.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://dotcombrand.wordpress.com/', alt='Wordpress')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0011.jpg')
										h2.card-title
											| Wordpress
										p
											| Libro guía de marca. Prácticas, pautas y principios para WordPress.com
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='http://www.carbondesignsystem.com/', alt='Carbon Design')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0012.jpg')
										h2.card-title
											| Carbon design IBM
										p
											| Sistema de diseño para productos IBM Cloud.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.yelp.com/styleguide/', alt='Yelp')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0013.jpg')
										h2.card-title
											| Yelp
										p
											| Guía de estilos para diseñadores, gerentes de producto y desarrolladores, que proporciona un lenguaje común para Yelp
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://www.bbc.co.uk/gel/guidelines/category/design-patterns', alt='BBC')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0014.jpg')
										h2.card-title
											| BBC
										p
											| Patrones de diseño de la BBC inglesa.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='https://ant.design/', alt='Ant Design')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0016.jpg')
										h2.card-title
											| Ant Design
										p
											|Sistema de diseño con valores para una mejor experiencia de usuario en aplicaciones empresariales.
							.col-6.col-sm-3
								article.article
									.card
										figure
											a(href='http://setproduct.com/material', alt='Material Design Figma')
												img.img-responsive(alt='Imagen', src='public/images/practicas_0017.jpg')
										h2.card-title
											| Figma
										p
											| Como se ussan y aplican los patrones de Materials design de Google.
						
							br
							br
							br
							br
				footer.page-footer
					include footer-practicas.jade
