- var headTitle = 'Diseño de sistemas / Glosario de términos'
- var headDescription = 'Inicio'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Glosario
				section.section
					.row
						.col-md-12
							em
								|A
					.row
						.col-6.col-sm-3
							article.article.article-Glosario
								h1.article-title
									|Lorem
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula ligula, ornare vel efficitur sit amet, porta vitae lorem. Vivamus placerat congue orci vitae sollicitudin. In posuere ut quam gravida auctor. In hac habitasse platea dictumst. Aenean nec aliquam ligula, nec congue arcu
						
						.col-6.col-sm-3
							article.article.article-Glosario
								h1.article-title
									|Ipsum
								p Lorem ipsum dolor sit amet, consectetur adipiscing el sit amet, porta vitae lorem. Vivamus placerat congue orci vitae sollicitudin. In posuere ut quam gravida auctor. In hac habitasse platea dictumst. Aenean nec aliquam ligula, nec congue arcu
						.col-6.col-sm-3
							article.article.article-Glosario
								h1.article-title
									|Dolor
								p Lorem ipsum dolor sit amet, consectetur adipiscing el sit amet, porta vitae lorem.  placerat congue orci vitae sollicitudin. In posuere ut quam gravida auctor. In hac habitasse platea dictumst. Aenean nec aliquam ligula, nec congue arcu
					.row
						.col-md-12
							em
								|B
					.row
						.col-6.col-sm-3
							article.article.article-Glosario
								h1.article-title
									|Lorem
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula ligula, ornare vel efficitur sit amet, porta vitae lorem. Vivamus placerat congue orci vitae sollicitudin. In posuere ut quam gravida auctor. In hac habitasse platea dictumst. Aenean nec aliquam ligula, nec congue arcu

				footer.page-footer
					include footer.jade
