- var headTitle = 'Diseño de sistemas / Glosario de términos'
- var headDescription = 'Inicio'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Glosario
				section.section
					.container
						.row
							.col-md-12
								strong
									|C
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Codificar
									p
										|Proceso de convertir una interficie visual en código fuente para poder integrarla dentro de un sistema informático.
					
						.row
							.col-md-12
								strong
									|F
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Framework de codificación
									p
										|Marco de trabajo definido por un conjunto de reglas y estructuras predefinidas que ayudan a prototipar y codificar más rápido.
										
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Frontend developer
									p
										|Perfil profesional que se encarga de la codificación de la interficie gráfica con la que interactuan los usuarios. Tambien se encargan de que la interficie se entienda con el gestor de contenidos.
						.row
							.col-md-12
								strong
									|G
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Gerarquía tipográfica
									p
										|Relación entre los diferentes elementos tipográficos de la página. Una gerarquía bien aplicada clarifica el mensaje y ayuda a guiar a los usuarios por la página.
										
						.row
							.col-md-12
								strong
									|L
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Librería de componentes
									p
										|Repositorio de todos los elementos diseñados, y muestra una vista global del sistema.
						.row
							.col-md-12
								strong
									|M
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Mobile first
									p
										|La codificación "mobile first" se basa en desarrollar primero para la versión móvil, obligando a prescindir de lo superficial sintetizando el mensaje al máximo. Este técnica acostumbra a redundar positivamente en el producto final. Es importante tener en cuenta el uso que se le da al espacio web en función del dispositivo.
						.row
							.col-md-12
								strong
									|P
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Prácticas compartidas
									p
										|Conjunto de reglas, restricciones y principios sobre cómo elegimos crear, capturar, compartir y usar los patrones. Son imprescindibles cuando se trabaja en equipo.
							
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Principios de diseño
									p
										|Reglas básicas de nuestro sistema que permiten delimitar el marco de actuación.
										br
										| Es importante que las reglas sean consenusdas con todo el equipo.
					
						.row
							.col-md-12
								strong
									|R
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Rejilla tipográfica 
										|(grid)
									p
										|Sistema de columnas que mantiene los elementos ordenados y alineados. En diseño responsive, la rejilla y el número de columnas se ajustan al formato del contendor. La unidad minima de la regilla es la columna.
					
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Rejilla base 
										|(baseline)
									p
										|conjunto de líneas horizontales imaginarias que ayudan a la acomodación de los elementos en las páginas. El uso de las rejillas base marca la ordenación visual respecto al eje vertival de la página.
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|RGB 
										|(Red Gren Blue)
									p
										|Colores luz primarios de síntesis aditiva. La suma de valores RGB produce colores más claros, y en última instancia el blanco. Cada parámetro RGB define la intensidad del color con un número ubicado entre 0 y 255. Siendo el 0 en negro y el 255 el blanco.
									
						.row
							.col-md-12
								strong
									|S
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Sistema
									p
										|Entidad con límites y con partes interrelacionadas e interdependientes, cuya suma es mayor a la suma de sus partes
						
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Sistema web
									p
										|Conjunto prácticas compartidas y patrones interconectados que nos ayudan lograr el objetivo de los productos digitales.
						
						.row
							.col-md-12
								strong
									|U
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											|Unidad mínima
									p
										|Unidad básica donde se apoya todo el desarrollo y escalado de un sistema web. La unidad mínima definida, ha de reflejar y explicar los valores del sistema.
						.row
							.col-md-12
								strong
									|V
						hr
						.row
							.col-6.col-sm-3
								article.article.article-Glosario
									h1.article-title
										strong
											| Valores éticos
									p
										|Valores éticos que nos representan y que trasladmos al sistema. Onestidad, optimismo, claridad...
										
						footer.page-footer
							include footer-glosario.jade
