- var headTitle = 'Diseñando sistemas'
- var headDescription = 'Inicio'

include head.jade
	body.index.apertura-seccion
		.container-fluid
			include menu.jade
			main#main
				section.section
					article.article
						.container
							.row
								.col-12.col-sm-8
									img.img-svg(src='public/images/formats.svg')
								.col-12.col-md-4
									h1.page-title
										| Diseño de sistemas web
									p.inicio
										|¿Qué es un sistema de diseño web?
										br
										|¿Cómo se define?
										br
										|¿Cómo se codifica?
									a.btn.btn-default(href='sistemas.html' alt='Emprezar')
										| Empezar -->
