- var headTitle = 'Diseñando sistemas'
- var headDescription = 'Inicio'

include head.jade
	body.index
		.container-fluid
			include menu.jade
			main#main
				.row
					.col-12.col-sm-6
						img.img-responsive(src='public/images/formats.png')
					.col-12.col-sm-6
						h1.page-title Design Systems
						p
							How will you maintain this system?
							br
							How will you promote and encourage usage?
							br
							How will you communicate updates?
						
				footer.page-footer
					include footer.jade
				script(async='', src='https://static.codepen.io/assets/embed/ei.js')
