- var headTitle = 'Diseñando sistemas'
- var headDescription = 'Inicio'

include head.jade
	body.index.apertura-seccion
		.container-fluid
			include menu.jade
			main#main
				article.article
					.container
						.row
							.col-12.col-sm-8
								img.img-svg(src='public/images/formats.svg')
							.col-12.col-md-4
								h1.page-title
									| Diseño de sistemas responsive
								ul.list
									li
										¿Qué es un sistema de diseño?
									li
										¿Cómo se define?
									li
										¿Cómo se codifica?
									li
										¿Cómo se escala?
									li
										¿Cómo se mantiene?
								a.btn.btn-default(href='definicion.html' alt='Emprezar')
									| Empezar -->
				footer.page-footer.footer-seccion
					include footer.jade
				script(async='', src='https://static.codepen.io/assets/embed/ei.js')
