- var headTitle = 'Diseñando sistemas'
- var headDescription = 'Inicio'

include head.jade
	body.index.apertura-seccion
		.container-fluid
			include menu.jade
			main#main
				article.article
					.container
						.row
							.col-12
								img.img-svg(src='public/images/formats.svg')
								br
								br
							.col-12
								h1.page-title
									| Diseño de sistemas responsive
								p
									How will you maintain this system?
									br
									How will you promote and encourage usage?
									br
									How will you communicate updates?

						.row
							.col-12.col-sm-12.col-lg-10
								p Esta web nace con la voluntad de ser un espacio abierto donde unificar ideas, definiciones y buenas prácticas para la creación de sistemas editoriales web adaptativos. 
								p La intención es situarse un par de pasos antes intentando responder a la pregunta:
								br
								br
								em.destacado
									| Cuáles son las claves para la creación y codificación de un sistema de diseño para webs responsive?
								br
								br
								p En el ámbito del diseño web, cada vez es más importante diseñar sistemas de diseño, en contraposición a páginas web. Los editores han de poder mostrar contenido dinámico sin perder la consistencia gráfica de la web. Esta necesidad se hace mucho más evidente a causa del incremento del consumo de información mediante dispositivos móviles y la aparición de las webs adaptativas o responsive,  donde un mismo contenido debe poderse visualizar correctamente en diferentes formatos. 
								br
								br
						.row
							.col-12.col-sm-4
								dl.definition-list
									dt
										strong
											| Esta web NO ES
									dd Un framework de trabajo.
									dd Un user interface kit.
									dd Un theme de diseño.
									dd Un lenguaje nuevo.
									dd Un producto cerrado.
							.col-12.col-sm-4
								dl.definition-list
									dt
										strong
										| Esta web ES
									dd Una guía.
									dd Una recopilación de buenas prácticas.
									dd Un espacio de discusión.
									dd Un recurso pedagógico.
								
				footer.page-footer.footer-seccion
					include footer.jade
				script(async='', src='https://static.codepen.io/assets/embed/ei.js')
