button#menu
  span.bar1
  span.bar2
  span.bar3
nav.menu-sidebar.hide-sidebar
  .page-title
    a(href='index.html')
      | Diseño de
      br
      | sistemas web
  hr
  ul
    li 
      a(href='sistemas.html')
        | Sistemas
      ul
        li
          a(href='definicion.html')
            | ¿Que es un Sistema?  
        li
          a(href='unidad-minima.html')
            | Unidad mínima
        li
          a(href='principios.html')
            | Principios y valores
        li
          a(href='libreria-componentes.html')
            | Libreria de componentes
      
    li
      a(href="codificacion.html") Codificación
      ul
        li
          a(href='codigo.html')
            | ¿Que es codificar?
        li
          a(href='frameworks.html')
            | Frameworks
        li
          a(href='modulacion.html')
            | Modulación
        li
          a(href='mobilefirst.html')
            | Mobile first

    li
      a(href="diseno-grafico.html") Diseño gráfico
      ul
        li
          a(href="tipografia.html") 
            | Tipografía
        li
          a(href="grid.html")
            | Cuadrícula y rejilla base
        li
          a(href="colores.html")
            | Colores

  hr 
  ul.footer
    li
      a(href="proyecto.html")
        strong
          | Este proyecto
    li
      a(href="modulos.html")
        | Sistema utilizado
    li
      a(href="glosario.html")
        | Glosario
    li
      a(href="buenas-practicas.html")
        | Buenas prácticas
    li
      a(href="referencias.html")
        | Referencias
    
    
