
nav.menu-sidebar.hide-sidebar
  .page-title
    a(href='index.html')
      | Diseño de sistemas
  button#menu
  ul
    li
      a(href="introduccion.html") Introducción
      ul
        li
          a(href='definicion.html')
            | Qué es un sistema de diseño
        li
          a(href='modulacion.html')
            | Modulación
        li
          a(href='codificacion.html')
            | Codificación
        
    li
      a(href="layout.html") Layout
        span Esqueleto
      ul
        li
          a(href='header.html')
            | Header
        li
          a(href='body.html')
            | Body
        li
          a(href='sidebar.html')
            | Sidebar
        li
          a(href='noticia.html')
            | Noticia
        li
          a(href='listado.html')
            | Listado
    li
      a(href="grid.html") Grid
        span músculos
      ul
        li
          a(href='columnas.html')
            | Columnas
        li
          a(href='orden.html')
            | Orden de lectura
    li
      a(href="tipografia.html") Tipografía
        span alma
      ul
        li
          a(href='grilla.html')
            | Grilla tipográfica
        li
          a(href='gerarquia.html')
            |  Gerarquia
    
    li
      a(href="colores.html") Colores
        span piel
      ul
        li
          a(href='teoria-color.html')
            | Relación de los 3 tercios
        li
          a(href='color-interaccion.html')
            | El color en las interacciones
    li
      a(href="modulacion.html") Modulacion
        span ADN
      ul
        li
          a(href='patrones.html')
            | Patrones
        li
          a(href='usos.html')
            | Casos de uso
      
    li
      a(href="comportamientos.html") Comportamientos
        span Personalidad
      ul
        li
          a(href='animacones.html')
            | Animaciones
        li
          a(href='stick.html')
            | Sticky elements
        li
          a(href='lightbox.html')
            | Lightbox
  hr  
  ul.footer
    li
      a(href="glosario.html")
        | Glosario
    li
      a(href="referencias.html")
        | Referencias
    li
      a(href="terminos.html")
        | Términos y condiciones
