- var headTitle = 'Diseño de sistemas / Referencias'
- var headDescription = 'References'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Referencias
				section.section
					.row
						.col-md-12
							em
								|WEB SITES			
					.row
						.col-md-12
							strong
								| Medium
							ul.list.dot-list
								li
									a(href="http://alistapart.com/article/responsive-web-design")
										|Diseño respponsive
								li
									a(href="https://medium.com/startups-es/no-es-lo-mismo-un-uikit-que-un-sistema-de-dise%C3%B1o-36efe44b7988")
										|No es lo mismo un UIKIT que un sistema de diseño
								li
									a(href="https://medium.com/startups-es/la-regla-del-12-c2f9d6eccab")
										|La regla del 12
								li
									a(href="https://marvelapp.com/styleguide/overview/code-guidelines")
										|Marvel Style guide
								li
									a(href="https://medium.com/startups-es/https-medium-com-tramontanastudio-sistemas-de-diseno-para-ceos-y-directivos-5a93249c5bed")
										|Sistema de diseño
								li
									a(href="https://medium.com/startups-es/una-historia-de-sistemas-de-dise%C3%B1o-parte-i-6c3d6ac6f545")
										|kljkljl
								li
									a(a href="https://dsconference.com/dsconf-conference-day/")
										|Videos conferecia "Takeaways from the DSCONF 2018"
								li
									a(href='http://designsystemsbook.com', target='_blank', rel='noopener')
										|designsystemsbook.com
								li
									a(href='http://publication.design.systems', target='_blank', rel='noopener') 
										|publication.design.systems
								li
									a(href='http://news.design.systems', target='_blank', rel='noopener')
										|news.design.systems
								li
									a(href='http://coalition.design.systems')
										|coalition.design.systems
								li
									a(href='http://design.systems/slack/', target='_blank', rel='noopener') 
										|design systems slack channel
								li
									a(href='http://stylebook.elisa.fi', target='_blank', rel='noopener')
										|stylebook.elisa.fi
								li
									a(href='https://github.com/airbnb/Lona', target='_blank', rel='noopener') Airbnb Lona
								li
									a(href='https://publication.design.systems/', target='_blank', rel='noopener') Design system
								li
									a(href='https://publication.design.systems/design-systems-are-for-people-a484620b6988', target='_blank', rel='noopener') DS
								li 
									a(href='https://www.ibm.com/design/language/', target='_blank') IBM design language
								li 
									a(href='https://www.invisionapp.com/blog/ux-team-core-values/', target='_blank') Discovering your UX team’s core values

									
									

							h5
								| Impres
							ul.list.dot-list
								li Design Anthropology by Alison J. Clarke
								li The Whuffie Factor by Tara Hunt
								li A Pattern Language by Christopher Alexander

					.row
						.col-12
							article.article.article-Glosario
								strong
									| 10 pasos
								br
								br
								p
									| Empezar a diseñar usando sistemas de diseño en 10 pasos
									br
									| Identifica cual es la unidad mínima de tu producto
									br
									| Define pesos tipográficos y colores
									br
									| Diseña una librería de iconos dentro de la retícula de 4px
									br
									| Diseña los componentes principales
									br
									| Dite NO a ti mismo. Muchas veces. Hasta que duela
									br
									| Pinta vistas a partir de componentes
									br
									| Exporta assets para distintas plataformas, android incluido
									br
									| Prototipa
									br
									| Revisa con los ingenieros apoyados del sistema documentado
									br
									| Lanza, mide e itera.

				footer.page-footer
					include footer-referencias.jade
