- var headTitle = 'Dise単o de sistemas / Referencias'
- var headDescription = 'References'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Referencias
				section.section
					.row
						.col-md-12
							em
								|WEB SITES			
					.row
						strong
							| Medium
						ul.col-12.dot-list
							li
								a(href="http://alistapart.com/article/responsive-web-design")
									|Dise単o respponsive
							li
								a(href="https://medium.com/startups-es/no-es-lo-mismo-un-uikit-que-un-sistema-de-dise%C3%B1o-36efe44b7988")
									|No es lo mismo un UIKIT que un sistema de dise単o
							li
								a(href="https://medium.com/startups-es/la-regla-del-12-c2f9d6eccab")
									|La regla del 12
							li
								a(href="https://medium.com/startups-es/https-medium-com-tramontanastudio-sistemas-de-diseno-para-ceos-y-directivos-5a93249c5bed")
									|Sistema de dise単o
							li
								a(href="https://medium.com/startups-es/una-historia-de-sistemas-de-dise%C3%B1o-parte-i-6c3d6ac6f545")
									|kljkljl
							li
								a(a href="https://dsconference.com/dsconf-conference-day/")
									|Videos conferecia "Takeaways from the DSCONF 2018"
							li
								a(href='http://designsystemsbook.com', target='_blank', rel='noopener')
									|designsystemsbook.com
							li
								a(href='http://publication.design.systems', target='_blank', rel='noopener') 
									|publication.design.systems
							li
								a(href='http://news.design.systems', target='_blank', rel='noopener')
									|news.design.systems
							li
								a(href='http://coalition.design.systems')
									|coalition.design.systems
							li
								a(href='http://design.systems/slack/', target='_blank', rel='noopener') 
									|design systems slack channel
							li
								a(href='http://stylebook.elisa.fi', target='_blank', rel='noopener')
									|stylebook.elisa.fi
							li
								a(href='https://github.com/airbnb/Lona', target='_blank', rel='noopener') Airbnb Lona
							li
								a(href='https://publication.design.systems/', target='_blank', rel='noopener') Design system
							li
								a(href='https://publication.design.systems/design-systems-are-for-people-a484620b6988', target='_blank', rel='noopener') DS

						h5
							| Impres
						ul
							li Design Anthropology by Alison J. Clarke
							li The Whuffie Factor by Tara Hunt
							li A Pattern Language by Christopher Alexander

									
									
					.row
						.col-12.col-sm-6
							article.article.article-Glosario
								h1.article-title
									|Lorem
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula ligula, ornare vel efficitur sit amet, porta vitae lorem. Vivamus placerat congue orci vitae sollicitudin. In posuere ut quam gravida auctor. In hac habitasse platea dictumst. Aenean nec aliquam ligula, nec congue arcu
						
				footer.page-footer
					include footer.jade
