- var headTitle = 'Diseño de sistemas / Referencias'
- var headDescription = 'Referencias y recursos usados en este site web'
include head.jade
	body.glosario
		.container-fluid
			include menu.jade
			main#main
				header.page-header
					h1.page-title
						| Referencias
				section.section
					.row
						.col-12.col-sm-6
							ul.list.dot-list
								li
									|Schleifer, A. "The Way We Build", 
									a.active(href='https://airbnb.design/the-way-we-build/', target='_blank', rel='noopener noreferrer')  
										|https://airbnb.design/the-way-we-build/
									|, última visita 27/05/2018
								li
									|Saarinen, K. "Building a Visual Language", 
									a.active(href='https://airbnb.design/building-a-visual-language/', target='_blank', rel='noopener noreferrer')  
										|https://airbnb.design/building-a-visual-language/
									|, última visita 23/05/2018
								li
									|Estelle, J. (2018) “Material Design” Google company, 
									a.active(href="https://material.io/" target='_blank', rel='noopener noreferrer')
										|http://material.io 
									|, última visita 26/05/2018
								li
									|Saltaren, D. (2016) “Sistemas de diseño en tiempos revueltos”, Linkedin, 
									a.active(href="https://es.linkedin.com/pulse/sistemas-de-dise%C3%B1o-en-tiempos-revueltos-danny-saltaren" target='_blank', rel='noopener noreferrer')
										|https://es.linkedin.com/pulse/sistemas-de-dise%C3%B1o-en-tiempos-revueltos-danny-saltaren 
									|, última visita 5/06/2018
								li
									|Alex, P. "Awesome design systems", 
									a.active(href='https://github.com/alexpate/awesome-design-systems', target='_blank', rel='noopener noreferrer')  
										|https://github.com/alexpate/awesome-design-systems
									|, última visita 23/05/2018
								li
									|Suarez M., Anne J., Sylor-Miller M., Mounter D., Stanfield R., "Design Sistem hangbook",
									a.active(href="https://www.designbetter.co/design-systems-handbook", target='_blank', rel='noopener noreferrer')
										|https://www.designbetter.co/design-systems-handbook
									|, última vista 28/05/2018
								li
									|Marcotte, E. (2010) "Responsive web design", A list apart. 
									a.active(href="http://alistapart.com/article/responsive-web-design" target='_blank', rel='noopener noreferrer')
										|http://alistapart.com/article/responsive-web-design
									|, última vista 2/06/2018
								li
									|Tramontana (2017), "La regla del 12", Medium / Startup (es), 
									a.active(href="https://medium.com/startups-es/la-regla-del-12-c2f9d6eccab" target='_blank', rel='noopener noreferrer')
										|https://medium.com/startups-es/la-regla-del-12-c2f9d6eccab
									|, última visita 3/06/2018
								li
									|Armesilla, A (2016), "Normalización de estilos y diseño de sistemas en Ticketbis", Medium / Startup (es)
									a.active(href="https://medium.com/startups-es/normalizaci%C3%B3n-de-estilos-y-dise%C3%B1o-de-sistemas-en-ticketbis-81b31190752" target='_blank', rel='noopener noreferrer')
										|https://medium.com/startups-es/normalizaci%C3%B3n-de-estilos-y-dise%C3%B1o-de-sistemas-en-ticketbis-81b31190752
									|, última visita 3/06/2018
								li
									|Tuite, C. (2017), "How to construct a design system", Medium / FreeCodeCamp
									a.active(href="https://medium.freecodecamp.org/how-to-construct-a-design-system-864adbf2a117" target='_blank', rel='noopener noreferrer')
										|https://medium.freecodecamp.org/how-to-construct-a-design-system-864adbf2a117
									|, última visita 28/05/2018
									
								li
									|Kamushken, R. (2017), "My rules of solid design system", Medium
									a.active(href="https://medium.com/@kamushken/my-rules-of-solid-design-system-4a7fe6c1811" target='_blank', rel='noopener noreferrer')
										|https://medium.com/@kamushken/my-rules-of-solid-design-system-4a7fe6c1811
									|, última visita 28/05/2018
									
								li
									|Curtis, N. (2017), "Measuring Design System Success", Medium
									a.active(href="https://medium.com/@kamushken/my-rules-of-solid-design-system-4a7fe6c1811" target='_blank', rel='noopener noreferrer')
										|https://medium.com/@kamushken/my-rules-of-solid-design-system-4a7fe6c1811
									|, última visita 22/05/2018
								
								li
									|Burnham, J., "Programming Design Systems", Programming Design Systems
									a.active(href="https://programmingdesignsystems.com/" target='_blank', rel='noopener noreferrer')
										|https://programmingdesignsystems.com/
									|, última visita 21/05/2018
								
								li
									|Marcin, T., "Design Systems Sprint 1: The Interface Inventory", Medium
									a.active(href="https://medium.com/@marcintreder/design-systems-sprint-1-the-interface-inventory-1f78d376e49a" target='_blank', rel='noopener noreferrer')
										|https://medium.com/@marcintreder/design-systems-sprint-1-the-interface-inventory-1f78d376e49a	
									|, última visita 27/05/2018

								li
									|Marvel, "Marvel Style guide", Marvel Style Guide
									a.active(href="https://marvelapp.com/styleguide/overview/code-guidelines" target='_blank', rel='noopener noreferrer')
										|https://marvelapp.com/styleguide/overview/code-guidelines
									|, última visita 21/05/2018
								li
									|DS Conference (2018) "Takeaways from the DSCONF 2018", 
									a.active(a href="https://dsconference.com/dsconf-conference-day/" target='_blank', rel='noopener noreferrer')
										|https://dsconference.com/dsconf-conference-day/
									|, última visita 21/05/2018
								li 
									|IBM, (2017) "IBM design language",
									a.active(href='https://www.ibm.com/design/language/', target='_blank', rel='noopener noreferrer')
										|https://www.ibm.com/design/language/
									|, última visita 20/05/2018
							br
							br
							br
							br
				footer.page-footer
					include footer-referencias.jade
