section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          dl.definition-list.definition
            dt 
              h2.subtitle
                |lkjlkjdf
            dd
              | skldjlaskjdlaskjdlsakjdlñkjv zñxlvljdszñl cv´lzk´f 
        .col-12.col-sm-8
          figure
            img.img-svg(src='public/images/goldenratio.svg')
            figcaption
              The golden ratio visualized as both a simple line segment and as a golden spiral.  
