section.section
  .container
    article.article 
      .row
        .col-12.col-sm-3
          h1.article-title
            | Una librería de componentes funciona como un 
            strong
              | repositorio de todos los elementos diseñados, 
            | y muestra una vista global del sitema.
            br
            br
            | Resulta imprescidible para 
            strong
              | compartir 
            | el trabajo ya realizado, y 
            strong
              | modular componentes.
        .col-12.col-sm-9
          figure
            img.img-responsive(src='public/images/componentes.jpg')
            figcaption
              | Payroll UI Kit
