section.section
  .container
    article.article
      .row
        .col-12
          figure
            img.img-responsive(src='public/images/components-2.jpg')
            figcaption
              | Airbnb - Componenetes y navegaci칩n.
      article.article   
        .row
          .col-12.col-sm-4
            dl.definition-list.definition
              dt
                h2.subtitle
                  | Documenta y comparte.
              dd
                p 
                  | Comparte y documenta, incluso define estilos CSS, para que tu equipo este sincronizado y que todos puedan aportat al sistema.
          .col-12.col-sm-8
            .slider
              .owl-slider.owl-carousel
                .item
                  figure
                    img.img-responsive(src='public/images/componentes-5.jpg')
                    figcaption
                      | Bootstrap - Framework de dise침o basado en la codificaci칩n de sus elementos.
                .item
                  figure
                    img.img-responsive(src='public/images/componentes-4.jpg')
                    figcaption
                      | U.S. Web design Standars - Extenso sistema documentado para las webs del govierno de USA.
                .item
                  figure
                    img.img-responsive(src='public/images/componentes-3.jpg')
                    figcaption
                      | IBM Carbon Design System - Definici칩n y uso de componenetes.
