footer.container-fluid
  ul.footer-menu
    li
      a(href="#") Feedback
    li
      a(href='#') Privacidad
    li
      a(href='#') Diccionario de términos
    li
      a(href='#') Referencias

  .site-footer
    script(type="text/javascript" src="site/assets/js/script.js")
    script(type="text/javascript" src="site/assets/js/bootstrap.js")
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
