include ../layouts/header
nav.menu-nav
  ul
    li
      a(href="#") Introducción
      ul
        li
          a(href='../pages/introduccion.html')
            | Qué es un sistema de diseño
        li
          a(href='#')
            | Modulación
        li
          a(href='#')
            | Codificación
        
    li
      a(href="#") Layout
        span esqueleto
      ul
        li
          a(href='#')
            | header
        li
          a(href='#')
            | body
        li
          a(href='#')
            | sidebar
        li
          a(href='#')
            | Noticia
        li
          a(href='#')
            | Listado
    li
      a(href="#") Grid
        span músculos
      ul
        li
          a(href='#')
            | Columnas
        li
          a(href='#')
            | Orden de lectura
    li
      a(href="#") Tipografía
        span alma
      ul
        li
          a(href='#')
            | Grilla tipográfica
        li
          a(href='#')
            | Relaciones tipográficas
        li
          a(href='#')
            | Big type, parrafo, interficie
        
    li
      a(href="#") Colores
        span piel
      ul
        li
          a(href='#')
            | Relación de los 3 tercios
        li
          a(href='#')
            | El color en las interacciones
    li
      a(href="#") Modulacions
        span ADN
      ul
        li
          a(href='#')
            | Patrones
        li
          a(href='#')
            | Casos de uso
        li
          a(href='#')
            | Repetición de acciones
    li
      a(href="#") Comportamientos
        span Personalidad
      ul
        li
          a(href='#')
            | Animaciones
        li
          a(href='#')
            | Sticky elements
        li
          a(href='#')
            | Lightbox
