- var headTitle = 'El sistema de el sistema'
- var headDescription = 'Libreia de componentes de esta herramienta'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include modulos-header.jade
				include modulos-content-D.jade
				include modulos-content-A.jade
				include modulos-content-B.jade
				include modulos-content-C.jade
				include modulos-footer.jade
