section.section
  article.article
    .container
      .row
        .col-12.col-sm-6
          p
            strong
              |Tipografía
          h1.page-title
            span.light
              |Akkurat Light
          br
          h1.page-title
            |Akkurat Regular
          br
          h1.page-title
            em
              |Akkurat Italic
          br
          h1.page-title
            strong
              |Akkurat Bold
        .col-12.col-sm-6
          p
            strong
              |Imagen
          figure
            img.img-responsive(data-src='http://via.placeholder.com/450x225', alt='Imagen')
            figcaption
              | Pie de foto
      .row
        .col-12.col-sm-6
          p
            strong
              |Escala tipográfica
          h1.page-title
            |Título de 
            strong
              |página 
            | 32px / 50px
          br
          h2.article-title
            |Título de 
            strong
              |artículo 
            | 24px / 28px
          br
          h3.subtitle
            |Subtítulo 19px / 24px
          br
          p
            strong
              | Bold 
            |párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo   
            em
              | italic  
            | 17px / 22px
          br
        .col-12.col-sm-6
          p
            strong
              |Slider
          .slider
            .owl-slider.owl-carousel
              .item
                figure
                  img.img-responsive(data-src='http://via.placeholder.com/450x275', alt='Imagen')
                  figcaption
                    | Caption slider
              .item
                figure
                  img.img-responsive(data-src='http://via.placeholder.com/450x325', alt='Imagen')
                  figcaption
                    | Caption slider
          
      .row
        .col-12.col-sm-6
          br
          p
            strong
              |Separador rallado
          hr.dotted
          br
          br
          br
          br
          br
          br
          p
            strong
              |Separador stándar
          hr
          br
          br
          br
          br
          br
          p
            strong
              |Navegacion
          br
          .page-footer-modulos
            ul.footer-nav
              li.prev
                a(href='#') <-- Anterior
              li.next
                a(href='#') Siguiente -->
      
        .col-6.col-sm-3
          p
            strong
              |Carta con volumen
          .card.card-volumen
            figure
              img.img-responsive(data-src='http://via.placeholder.com/260x200', alt='Imagen')
            h2.card-title 
              |Título carta
            p
              | Texto descriptivo de la targeta texto descriptivo de la targeta texto descriptivo de la targeta texto descriptivo 
          
        .col-6.col-sm-3
          p
            strong
              |Carta
          .card
            figure
              img.img-responsive(data-src='http://via.placeholder.com/260x200', alt='Imagen')
            h2.card-title 
              |Título carta
            p
              | Texto descriptivo de la targeta texto descriptivo de la targeta texto descriptivo de la targeta texto descriptivo de la targeta 

        

        
            
          
      
