section.section
  article.article
    .container
      h1.article-title
        | Tipografía
      .row
        .col-12.col-sm-6
          h2.page-title
            | Titular principal
          h3.subtitle
            | ljlkjljklk
        .col-12.col-sm-6
          strong
            | Párrafo
          p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
      .row
        .col-12.col-sm-4
          h1
            |Targetas gráficas
          .card
            figure
              img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
            h2.card-title
              | Sistema
            p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
        .col-12.col-sm-4
          .card
            figure
              img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
            h2.card-title
              | Sistema
            p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
        .col-12.col-sm-4
          .card
            figure
              img.img-responsive(data-src='public/images/imagen-pesada.jpg', alt='Heavy metal')
            h2.card-title
              | Sistema
            p Material Design is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.
