section.section
  .container
    article.article
      p
        strong
          | Grid de 12 columnas
      
      .row.grid-modulos
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1 
      br
      .row.grid-modulos
        .col-4
          p 4
        .col-4
          p 4
        .col-4
          p 4
      br
      .row.grid-modulos
        .col-6
          p 6
        .col-6
          p 6
      br
      .row.grid-modulos
        .col-4
          p 4
        .col-8
          p 8
      br
      .row.grid-modulos
        .col-3
          p 3
        .col-3
          p 3
        .col-3
          p 3
        .col-3
          p 3
      br
      br
      br
      br
      br
