- var headTitle = 'Módulos'
- var headDescription = 'Módulos herramienta creada'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include modulos-header.jade
				include modulos-content-A.jade
				include modulos-content-B.jade
				include modulos-content-C.jade
				include modulos-content-D.jade
				footer.page-footer
					//- include modulos-footer.jade
					//- include modulos-footer.jade8
