article.article
  .container
    h1.article-title
      | Grid
    .row
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 1
      .col-1.text-center(style='background:grey; opacity:0.25')
        p 2
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 3
      .col-1.text-center(style='background:grey; opacity:0.25')
        p 4
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 5
      .col-1.text-center(style='background:grey; opacity:0.25')
        p 6
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 7
      .col-1.text-center(style='background:grey; opacity:0.25')
        p 8
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 9
      .col-1.text-center(style='background:grey; opacity:0.25') 
        p 10
      .col-1.text-center(style='background:pink; opacity:0.25')
        p 11
      .col-1.text-center(style='background:grey; opacity:0.25') 
        p 12
