section.section
  .container
    article.article
      .row    
        .col-6.col-sm-2
          p
            strong
              | Listado con bullets
          ul.list.dot-list
            li
              a(href="#")
                |Item
            li
              a(href="#")
                | Item
            li
              a(href="#")
                |Item 
            li
              a(href="#")
                |Item
            li
              a(href="#")
                |Item 
        .col-6.col-sm-2
          p
            strong
              | Listado ordenado
          ol.list.ordered-list-modulos
            li
              a(href="#")
                | Item
            li
              a(href="#")
                | Item
            li
              a(href="#")
                | Item
            li
              a(href="#")
                |Item 
            li
              a(href="#")
                |Item
                        
        .col-6.col-sm-2
          p
            strong
              | Listado de definiciones
          dl.list
            dt
              strong
                |Título
            dd
              | Definicón relativa al título superior
            dt
              strong
                |Titulo
            dd
              |Definicón relativa al título superior

        
        .col-12.col-sm-6
          p
            strong
              | Texto destacado
          blockquote.destacado
            p
              | “Texto destacado entre comillas y potente”
            br
            span.firma 
              | Nombre Apellido (año), Publicación
