article.article
  .container
    .row
      .col-12.col-sm-4
        h2.article-title
          | Listado
        ul.list
          li
            a(href="#")
              |Item 1
          li
            a(href="#")
              | Item 2
          li
            a(href="#")
              |Item 3
          li
            a(href="#")
              |Item 4
          li
            a(href="#")
              |Item 5
        
      .col-12.col-sm-4
        h2.article-title
          | Listado con bullets
        ul.list.dot-list
          li
            a(href="#")
              |Item 1
          li
            a(href="#")
              | Item 2
          li
            a(href="#")
              |Item 3
          li
            a(href="#")
              |Item 4
          li
            a(href="#")
              |Item 5
      .col-12.col-sm-4
        h2.article-title
          | Listado de definiciones
        dl.list
          dt
            strong
              |Titular 1
          dd
            | Definición 1
          dt
            strong
              |Titular 2
          dd
            |Definicion 2
          dt
            strong
              |Titular 3
          dd
            |Definicion 3
