section.section
  .container
    article.article
      p
        strong
          | Grid de 12 columnas
      
      .row.grid-modulos
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1
        .col-1
          p 1 
      br
      .row.grid-modulos
        .col-4
          p 4
        .col-4
          p 4
        .col-4
          p 4
      br
      .row.grid-modulos
        .col-6
          p 6
        .col-6
          p 6
      br
      .row.grid-modulos
        .col-4
          p 4
        .col-8
          p 8
      br
      .row.grid-modulos
        .col-3
          p 3
        .col-3
          p 3
        .col-3
          p 3
        .col-3
          p 3
      br
      .row
        .col-12
          p
            strong
              | Codificación con el servico JSFidle
          iframe.iframe(width='100%', height='250', src='http://jsfiddle.net/PaladiniDigitalProjects/34m6Lyfh/5/embedded/html,css,result/', allowfullscreen='allowfullscreen', allowpaymentrequest='', frameborder='0')
      br
      br
      br
      br
