- var headTitle = 'Gerarquia'
- var headDescription = 'hghghgh'
include ../../head.jade
	body.page
		.container-fluid
			include ../../menu.jade
			main#main
				include gerarquia-header.jade
				include gerarquia-content-A.jade
				footer.page-footer
					include gerarquia-footer.jade
